<div class="full-width internalPage category-special categorysub-special">
		<aside id="category-header">
			<div class="container">
				<header class="menuSection">

					<ul class="submenu">
						<li class="active"><a href="#">Moods & Genres</a></li>
						<li><a href="#">Dance/Electronic</a></li>
						<li><a href="#">S-UK </a></li>
						<li><a href="#">V-Pop</a></li>
						<li><a href="#"> K-Pop </a></li>
						<li><a href="#">Music Festival</a></li>
					</ul>
				</header>
			</div>
		</aside>

		<div class="container">
			<div class="vf-slider">
				<ul class="category-slider">
				  <li><a href="#">
					  <article>
					  	<div class="cover-slider" style="background-image: url(images/banner1.jpg)"></div>
					  </article>
				  </a></li>	

				  <li><a href="#">
					  <article>
					  	<div class="cover-slider" style="background-image: url(images/banner1.jpg)"></div>
					  </article>
				  </a></li>	

				  <li><a href="#">
					  <article>
					  	<div class="cover-slider" style="background-image: url(images/banner1.jpg)"></div>
					  </article>
				  </a></li>			 
				</ul>
			</div> <!-- vf-slider -->
			 <!-- <header class="ttIntroduce">
                <h2> VideoFly Giới Thiệu</h2>
            </header> -->
			<div class="categorySection">
				 <header class="menuSection">
					<h2 class="title">
						<a title="Mới cập nhật" href="#">Mới cập nhật</a>
					</h2>
					<a href="#" class="viewall">Xem tất cả</a>						
				</header>

				<div class="contentCategory ">					
					<article class="video videoPlaylist vf-category" >
						<p class="thumbnail" style="background-image: url(images/thumbnail.jpg)">
							<a title="Weekend Buzz" rel="bookmark" href="#">			
							</a>	
							<span class="playitems">
								<span class="icon-webs playicon"></span>							
							</span>														
						</p>
						<header class="meta">
							<h3 class="title">
								<a title="Weekend Buzz" rel="bookmark" href="#"> Weekend Buzz</a>
							</h3>												
						</header>
						<div class="desc-intro">
							Cựu tiền vệ HAGL vẫn như không tin khi được khoác chiếc áo của CLB danh tiếng Incheon United, Hàn Quốc.
						</div>
						<ul>
							<li title="Số video" class="videoTotal">
								<span class="arrow-right"></span>
								23
							</li>
							<li title="Lượt xem" class="watch-count">
								<span class="icon-webs viewicon"></span>
								3.000.000 
							</li>
						</ul>
					</article>

					<article class="video videoPlaylist vf-category" >
						<p class="thumbnail" style="background-image: url(images/thumbnail.jpg)">
							<a title="Weekend Buzz" rel="bookmark" href="#">			
							</a>	
							<span class="playitems">
								<span class="icon-webs playicon"></span>							
							</span>														
						</p>
						<header class="meta">
							<h3 class="title">
								<a title="Weekend Buzz" rel="bookmark" href="#"> Weekend Buzz</a>
							</h3>												
						</header>
						<div class="desc-intro">
							Cựu tiền vệ HAGL vẫn như không tin khi được khoác chiếc áo của CLB danh tiếng Incheon United, Hàn Quốc.
						</div>
						<ul>
							<li title="Số video" class="videoTotal">
								<span class="arrow-right"></span>
								23
							</li>
							<li title="Lượt xem" class="watch-count">
								<span class="icon-webs viewicon"></span>
								3.000.000 
							</li>
						</ul>
					</article>

					<article class="video videoPlaylist vf-category" >
						<p class="thumbnail" style="background-image: url(images/thumbnail.jpg)">
							<a title="Weekend Buzz" rel="bookmark" href="#">			
							</a>	
							<span class="playitems">
								<span class="icon-webs playicon"></span>							
							</span>														
						</p>
						<header class="meta">
							<h3 class="title">
								<a title="Weekend Buzz" rel="bookmark" href="#"> Weekend Buzz</a>
							</h3>												
						</header>
						<div class="desc-intro">
							Cựu tiền vệ HAGL vẫn như không tin khi được khoác chiếc áo của CLB danh tiếng Incheon United, Hàn Quốc.
						</div>
						<ul>
							<li title="Số video" class="videoTotal">
								<span class="arrow-right"></span>
								23
							</li>
							<li title="Lượt xem" class="watch-count">
								<span class="icon-webs viewicon"></span>
								3.000.000 
							</li>
						</ul>
					</article>

					<article class="video videoPlaylist vf-category" >
						<p class="thumbnail" style="background-image: url(images/thumbnail.jpg)">
							<a title="Weekend Buzz" rel="bookmark" href="#">			
							</a>	
							<span class="playitems">
								<span class="icon-webs playicon"></span>							
							</span>														
						</p>
						<header class="meta">
							<h3 class="title">
								<a title="Weekend Buzz" rel="bookmark" href="#"> Weekend Buzz</a>
							</h3>												
						</header>
						<div class="desc-intro">
							Cựu tiền vệ HAGL vẫn như không tin khi được khoác chiếc áo của CLB danh tiếng Incheon United, Hàn Quốc.
						</div>
						<ul>
							<li title="Số video" class="videoTotal">
								<span class="arrow-right"></span>
								23
							</li>
							<li title="Lượt xem" class="watch-count">
								<span class="icon-webs viewicon"></span>
								3.000.000 
							</li>
						</ul>
					</article>

					<article class="video videoPlaylist vf-category" >
						<p class="thumbnail" style="background-image: url(images/thumbnail.jpg)">
							<a title="Weekend Buzz" rel="bookmark" href="#">			
							</a>	
							<span class="playitems">
								<span class="icon-webs playicon"></span>							
							</span>														
						</p>
						<header class="meta">
							<h3 class="title">
								<a title="Weekend Buzz" rel="bookmark" href="#"> Weekend Buzz</a>
							</h3>												
						</header>
						<div class="desc-intro">
							Cựu tiền vệ HAGL vẫn như không tin khi được khoác chiếc áo của CLB danh tiếng Incheon United, Hàn Quốc.
						</div>
						<ul>
							<li title="Số video" class="videoTotal">
								<span class="arrow-right"></span>
								23
							</li>
							<li title="Lượt xem" class="watch-count">
								<span class="icon-webs viewicon"></span>
								3.000.000 
							</li>
						</ul>
					</article>

					<article class="video videoPlaylist vf-category" >
						<p class="thumbnail" style="background-image: url(images/thumbnail.jpg)">
							<a title="Weekend Buzz" rel="bookmark" href="#">			
							</a>	
							<span class="playitems">
								<span class="icon-webs playicon"></span>							
							</span>														
						</p>
						<header class="meta">
							<h3 class="title">
								<a title="Weekend Buzz" rel="bookmark" href="#"> Weekend Buzz</a>
							</h3>												
						</header>
						<div class="desc-intro">
							Cựu tiền vệ HAGL vẫn như không tin khi được khoác chiếc áo của CLB danh tiếng Incheon United, Hàn Quốc.
						</div>
						<ul>
							<li title="Số video" class="videoTotal">
								<span class="arrow-right"></span>
								23
							</li>
							<li title="Lượt xem" class="watch-count">
								<span class="icon-webs viewicon"></span>
								3.000.000 
							</li>
						</ul>
					</article>

				</div>
				
			</div><!-- section -->

			<div class="categorySection">
				 <header class="menuSection">
					<h2 class="title">
						<a title="Mới cập nhật" href="#">Khác</a>
					</h2>
					<a href="#" class="viewall">Xem tất cả</a>						
				</header>
				
				<div class="contentCategory ">					
					<article class="video videoPlaylist vf-category" >
						<p class="thumbnail" style="background-image: url(images/thumbnail.jpg)">
							<a title="Weekend Buzz" rel="bookmark" href="#">			
							</a>	
							<span class="playitems">
								<span class="icon-webs playicon"></span>							
							</span>														
						</p>
						<header class="meta">
							<h3 class="title">
								<a title="Weekend Buzz" rel="bookmark" href="#"> Weekend Buzz</a>
							</h3>												
						</header>
						<div class="desc-intro">
							Cựu tiền vệ HAGL vẫn như không tin khi được khoác chiếc áo của CLB danh tiếng Incheon United, Hàn Quốc.
						</div>
						<ul>
							<li title="Số video" class="videoTotal">
								<span class="arrow-right"></span>
								23
							</li>
							<li title="Lượt xem" class="watch-count">
								<span class="icon-webs viewicon"></span>
								3.000.000 
							</li>
						</ul>
					</article>

					<article class="video videoPlaylist vf-category" >
						<p class="thumbnail" style="background-image: url(images/thumbnail.jpg)">
							<a title="Weekend Buzz" rel="bookmark" href="#">			
							</a>	
							<span class="playitems">
								<span class="icon-webs playicon"></span>							
							</span>														
						</p>
						<header class="meta">
							<h3 class="title">
								<a title="Weekend Buzz" rel="bookmark" href="#"> Weekend Buzz</a>
							</h3>												
						</header>
						<div class="desc-intro">
							Cựu tiền vệ HAGL vẫn như không tin khi được khoác chiếc áo của CLB danh tiếng Incheon United, Hàn Quốc.
						</div>
						<ul>
							<li title="Số video" class="videoTotal">
								<span class="arrow-right"></span>
								23
							</li>
							<li title="Lượt xem" class="watch-count">
								<span class="icon-webs viewicon"></span>
								3.000.000 
							</li>
						</ul>
					</article>

					<article class="video videoPlaylist vf-category" >
						<p class="thumbnail" style="background-image: url(images/thumbnail.jpg)">
							<a title="Weekend Buzz" rel="bookmark" href="#">			
							</a>	
							<span class="playitems">
								<span class="icon-webs playicon"></span>							
							</span>														
						</p>
						<header class="meta">
							<h3 class="title">
								<a title="Weekend Buzz" rel="bookmark" href="#"> Weekend Buzz</a>
							</h3>												
						</header>
						<div class="desc-intro">
							Cựu tiền vệ HAGL vẫn như không tin khi được khoác chiếc áo của CLB danh tiếng Incheon United, Hàn Quốc.
						</div>
						<ul>
							<li title="Số video" class="videoTotal">
								<span class="arrow-right"></span>
								23
							</li>
							<li title="Lượt xem" class="watch-count">
								<span class="icon-webs viewicon"></span>
								3.000.000 
							</li>
						</ul>
					</article>

				</div>
				
			</div><!-- section -->			
		
		</div> <!-- container -->
</div> <!-- home-page -->