<header id="header">
  <div class="headerTop">
    <div class="container">

      <!-- PAGE LOGO -->
      <h1 class="logo">
        <a href="/" title="VideoFly.vn">
          <img src="/assets/images/logovideoflyhd.png" alt="VideoFly.vn">
        </a>
      </h1>

      <!-- SEARCH FORM -->
      <form role="search" method="get" action="/search" class="search">

        <!-- Search input -->
        <input autocomplete="off" type="text" name="q" value="" placeholder="Nhập tiêu đề hoặc tên chương trình">
        <!-- When click submit, go to search result page -->
        <button type="submit" class="left">
          <span class="fonticons"><span class="icon-magnifier"></span></span>
        </button>

      </form>

      <div class="right-header">
        <div class="feedbackbtn">
          <a data-toggle="modal" href="#dialogs-feedback"> 
            <span class="fonticons"><span class="icon-envelope"></span> </span>							
             Góp ý
          </a>
        </div>

        <ul class="user-account">
          <li>
            <a href="/login">
              <span class="fonticons"> <span class="icon-user"></span> </span>
              Đăng nhập
            </a>
          </li>
          <li>
            <a href="/register">
              <span class="fonticons"> <span class="icon-note"></span> </span>
               Đăng ký
            </a>
          </li>

        </ul>
      </div>
      <!-- right-header -->
      <div class="clear"></div>
    </div>
  </div>
  <!-- headerTop -->

  <div class="headerMenu">
    <div class="container">
      <nav id="navigation" class="menu-main-menu-container">
        <ul id="menu-main-menu" class="channels wrapper">
          <li  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" title="Trang chủ">
            <a routerLink="" title="Trang chủ">Trang chủ</a>
          </li>

          <li  [routerLinkActive]="['active']">
            <a title="Âm nhạc" routerLink="am-nhac" >Âm nhạc </a>
          </li>
          <li  [routerLinkActive]="['active']" title="Giải trí">
            <a title="Giải trí" routerLink="giai-tri" >Giải trí </a>
            <ul>
              <li><a href="#">Hài</a> </li>
              <li><a href="#">TV Show</a> </li>
              <li><a href="#">Truyền hình thực tế</a> </li>
              <li><a href="#">Sitcom</a> </li>
            </ul>
          </li>
          <li  [routerLinkActive]="['active']" title="Kiến thức">
            <a routerLink="kien-thuc" title="Kiến thức"  >Kiến thức </a>
          </li>

          <li  [routerLinkActive]="['active']" title="Tin tức">
            <a  routerLink="tin-tuc"  title="Tin tức" >Tin tức </a>
          </li>
          <li  [routerLinkActive]="['active']" title="Cộng đồng">
            <a  title="Cộng đồng" routerLink="cong-dong" href="cong-dong">Cộng đồng </a>
          </li>
          <li  [routerLinkActive]="['active']" title="Âm nhạc">
            <a title="Âm nhạc" routerLink="video" >Video </a>
          </li>
          <li  [routerLinkActive]="['active']" title="Tìm kiếm">
              <a title="Tìm kiếm" routerLink="search" >Search </a>
            </li>
        </ul>
      </nav>
      
    </div>
    <!-- container -->
  </div>
  <!-- headerMenu -->
</header>