<header id="header">
  <div class="headerTop">
    <div class="container">

      <!-- PAGE LOGO -->
      <h1 class="logo">
        <a href="/" title="VideoFly.vn">
          <img src="/assets/images/logovideoflyhd.png" alt="VideoFly.vn">
        </a>
      </h1>

      <!-- SEARCH FORM -->
      <form role="search" method="get" action="/search" class="search">

        <!-- Search input -->
        <input autocomplete="off" type="text" name="q" value="" placeholder="Nhập tiêu đề hoặc tên chương trình">
        <!-- When click submit, go to search result page -->
        <button type="submit" class="left">
          <span class="fonticons"><span class="icon-magnifier"></span></span>
        </button>

      </form>

      <div class="right-header">
        <div class="feedbackbtn">
          <a data-toggle="modal" href="#dialogs-feedback"> 
            <span class="fonticons"><span class="icon-envelope"></span> </span>							
             Góp ý
          </a>
        </div>

        <ul class="user-account">
          <li>
            <a href="/login">
              <span class="fonticons"> <span class="icon-user"></span> </span>
              Đăng nhập
            </a>
          </li>
          <li>
            <a href="/register">
              <span class="fonticons"> <span class="icon-note"></span> </span>
               Đăng ký
            </a>
          </li>

        </ul>
      </div>
      <!-- right-header -->
      <div class="clear"></div>
    </div>
  </div>
  <!-- headerTop -->

  <div class="headerMenu">
    <div class="container">
      <nav id="navigation" class="menu-main-menu-container">
        <ul id="menu-main-menu" class="channels wrapper">
          <li class="active home">
            <a routerLink="" [routerLinkActive]="['router-link-active']" title="Trang chủ">Trang chủ</a>
          </li>

          <li><a routerLink="am-nhac" title="Âm nhạc">Âm nhạc </a></li>
          <li>
            <a routerLink="giai-tri" title="Giải trí">Giải trí </a>
            <ul>
              <li><a href="#">Hài</a> </li>
              <li><a href="#">TV Show</a> </li>
              <li><a href="#">Truyền hình thực tế</a> </li>
              <li><a href="#">Sitcom</a> </li>
            </ul>
          </li>
          <li><a routerLink="kien-thuc" [routerLinkActive]="['router-link-active']" title="Kiến thức">Kiến thức </a></li>
          <li><a routerLink="tin-tuc" [routerLinkActive]="['router-link-active']" title="Tin tức">Tin tức </a></li>
          <li><a routerLink="cong-dong" [routerLinkActive]="['router-link-active']" title="Cộng đồng">Cộng đồng </a></li>
          <li><a routerLink="video" [routerLinkActive]="['router-link-active']" title="Âm nhạc">Video </a></li>
        </ul>
      </nav>

    </div>
    <!-- container -->
  </div>
  <!-- headerMenu -->
</header>