<article class="playlistcnitem" >
  <p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
    <a title="Tập 46 - Tuyển Sinh Đợt 2 Giọng Hát Việt" rel="bookmark" href="#">								
    </a>
    <span class="videoTotal"><span>23</span>video</span>							
  </p>
  <header class="meta">
    <h3 class="title">
      <a title="Tập 46 - Tuyển Sinh Đợt 2 Giọng Hát Việt" rel="bookmark" href="#"> Tập 46 - Tuyển Sinh Đợt 2 Giọng Hát Việt </a>
    </h3>	
    
    <ul class="watchedandtime">
      <li class="watch-count">
        3K lượt xem
      </li>
      <li class="datetime">
        3 ngày trước
      </li>
    </ul>						
  </header>						
</article>