// @import '../../../../../styles.scss';
@import '../../../../../assets/css/partial/_setting.scss';
.listvideos
{
    overflow: hidden;
    ::ng-deep 
    {
        .video 
        {
            overflow: hidden;
            width: calc(100% );
            height: 110px;
            margin:0;
            margin-bottom: 0;					
            float: none !important;
            position: relative;
            padding-right: 100px;
            // &:nth-child(2n) 
            // {
            //     margin-left: 20px;
            // }
            .thumbnail
            {
                float: left;
                margin-right: 10px;
                width: 196px !important;
            }
            .meta 
            {
                .title 
                {
                    margin-bottom: 5px;
                    a
                    {
                        font-size: 15px;
                    }
                    
                }
                .uploader
                {
                    display: block !important;
                    margin: 6px 0;
                    a 
                    {
                        @include styleText(#828282, 11px);
                        text-transform: uppercase;
                    }
                }
            }


            .composed-art
            {
                *
                {
                    @include styleText(#666666, 13px);
                }
                @include styleText(#666666, 13px);
                a 
                {
                    color: #6666ff;
                }
            }
            .wrapPlaynow
            {
                position: absolute;
                right: 10px;
                top: 0;
                bottom: 0;
                margin:auto;
                display: block !important;
            }
        }
    }
  
}