<div class="full-width internalPage  vf-genre-allplaylists-page ">
  <app-bannergenre></app-bannergenre>

  <div class="container">
      <div class="wrap-section wrap-playlists">            
          <div class="wrap-topsidebar">
            <div class="container">
              <ul class="wrap">
                <li>All Playlists</li>
              </ul>
  
              <div class="sapxep">
                <div class="wrap-selecttag">
                  <select>                        
                    <option value="#" selected>Nổi bật nhất</option>
                    <option value="#" >Sắp xếp theo tên</option>                  
                  </select>
                </div>
              </div>
              <div class="clear"></div>
            </div>			
          </div>	
          <div class="listplaylists">
              <app-playlistitem></app-playlistitem>
              <app-playlistitem></app-playlistitem>
              <app-playlistitem></app-playlistitem>
              <app-playlistitem></app-playlistitem>
              <app-playlistitem></app-playlistitem>
              <app-playlistitem></app-playlistitem>
              <app-playlistitem></app-playlistitem>
              <app-playlistitem></app-playlistitem>
              <app-playlistitem></app-playlistitem>
              <app-playlistitem></app-playlistitem>
              <app-playlistitem></app-playlistitem>
              <app-playlistitem></app-playlistitem>
              <app-playlistitem></app-playlistitem>
              <app-playlistitem></app-playlistitem>
              <app-playlistitem></app-playlistitem>
              <app-playlistitem></app-playlistitem>
              <app-playlistitem></app-playlistitem>

          </div>
      </div>
    </div>

</div>