<div class="full-width internalPage category category-special vf-genresallplaylists">
  <aside id="category-header">
    <div class="container">
      <header class="menuSection">

        <ul class="submenu">
          <li class="active"><a href="#">Moods & Genres</a></li>
          <li><a href="#">Dance/Electronic</a></li>
          <li><a href="#">S-UK </a></li>
          <li><a href="#">V-Pop</a></li>
          <li><a href="#"> K-Pop </a></li>
          <li><a href="#">Music Festival</a></li>
        </ul>
      </header>
    </div>
  </aside>

  <div class="container">
    <div class="vf-slider">
      <ul class="category-slider">
        <li><a href="#">
          <article>
            <div class="cover-slider" style="background-image: url(../assets/images/banner1.jpg)"></div>
          </article>
        </a></li>	

        <li><a href="#">
          <article>
            <div class="cover-slider" style="background-image: url(../assets/images/banner1.jpg)"></div>
          </article>
        </a></li>	

        <li><a href="#">
          <article>
            <div class="cover-slider" style="background-image: url(../assets/images/banner1.jpg)"></div>
          </article>
        </a></li>			 
      </ul>
    </div> <!-- vf-slider -->
     <!-- <header class="ttIntroduce">
              <h2> VideoFly Giới Thiệu</h2>
          </header> -->

      <div class="section  vf-newupdatemusic-section">
        <header class="menuSection">
          <h3 class="title">
            <a href="#" title="Mới cập nhật">Mới cập nhật</a>	
          </h3>					
        </header>
        <!-- <app-splaylist-slide></app-splaylist-slide> -->
        <!-- <div class="listvideo hotPlaylistvideo">
            <ul class="bxslider">
                <li>					 	
                  <article class="playlistitems" >
                      <p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
                        <a title="Weekend Buzz" rel="bookmark" href="#">			
                        </a>
                        <span class="playitems">
                          <span class="icon-webs playicon"></span>								
                        </span>	
                        <button class="vf-followplbtn" title="Theo dõi playlist">
                          <span class=" followpl-icon">
                              <i class="fa fa-star-o" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                          </span> 	
                        </button>														
                      </p>
                      <header class="meta">
                        <h3 class="title">
                          <a title="Weekend Buzz" rel="bookmark" href="#"> Heartbreaker </a>
                        </h3>												
                      </header>
                      <p class="uploader">
                        <a title="videofly" href="#">Video fly</a>
                        <span class="vf-confirm" title="Đã xác nhận">
                          <i class="fa fa-check-square" aria-hidden="true"></i>
                        </span>
                      </p>
                      <div class="desc-intro">
                        <p>
                        Cựu tiền vệ HAGL vẫn như không tin khi được khoác chiếc áo của CLB danh tiếng Incheon United, Hàn Quốc.</p>
                      </div>
                      <ul>
                        <li title="Lượt xem" class="watch-count">
                                <span class="fonticons"><span class="icon-eye"></span></span>
                                3K
                              </li>
                        <li title="Số video" class="videoTotal">
                                <span class="fonticons"><span class="icon-film"></span></span>
                                30							
                              </li>
                        <li class="rating">
                          <span class="fullstar fonticons"><i class="fa fa-star" aria-hidden="true"></i></span>
                          <span class="fullstar fonticons"><i class="fa fa-star" aria-hidden="true"></i></span>
                          <span class="halfstar fonticons"><i class="fa fa-star-half-o" aria-hidden="true"></i></span>
                          <span class="emptystar fonticons"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                          <span class="emptystar fonticons"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                        </li> 	
                      </ul>
                    </article>
                </li>
                </ul>
        </div> -->
      </div><!-- section -->
    
    <div class="section  vf-newmusic-section">
      <header class="menuSection">
        <h3 class="title">
        <a href="#" title=">Mới thêm vào">Mới thêm vào</a>	
        </h3>					
      </header>

      <div class="listvideo hotPlaylistvideo">
          <ul class="bxslider">
              <li>	
                  <!-- <app-playlistitem></app-playlistitem>					 	 -->
                </li>
            </ul>
      </div>
    </div><!-- section -->

    <div class="section vf-communitynewvideo">
      <header class="menuSection">
        <h3 class="title">
          <a href="#" title="playlist đề cử"><span>CỘNG ĐỒNG </span> - VIDEO MỚI THÊM VÀO</a> 
        </h3>					
      </header>
      <div class="listvideo">
        <ul class="slidesshow">
          <li>
            <article class="video" >
              <p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
                <a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#">											
                </a>
                <span class="duration">17:30</span>
                
              </p>
              <header class="meta">
                <h3 class="title">
                  <a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#"> Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015 </a>
                </h3>	
                <p class="uploader">
                  <a title="videofly" href="#">Video fly</a>
                </p>
                <ul>
                  <li class="watch-count">
                    3K lượt xem
                  </li>
                  <li class="datetime">
                    3 ngày trước
                  </li>
                </ul>						
              </header>
            </article>
          </li>

          <li>
            <article class="video" >
              <p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
                <a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#">											
                </a>
                <span class="duration">17:30</span>
                
              </p>
              <header class="meta">
                <h3 class="title">
                  <a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#"> Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015 </a>
                </h3>	
                <p class="uploader">
                  <a title="videofly" href="#">Video fly</a>
                </p>
                <ul>
                  <li class="watch-count">
                    3K lượt xem
                  </li>
                  <li class="datetime">
                    3 ngày trước
                  </li>
                </ul>						
              </header>
            </article>
          </li>

          <li>
            <article class="video" >
              <p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
                <a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#">											
                </a>
                <span class="duration">17:30</span>
                
              </p>
              <header class="meta">
                <h3 class="title">
                  <a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#"> Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015 </a>
                </h3>	
                <p class="uploader">
                  <a title="videofly" href="#">Video fly</a>
                </p>
                <ul>
                  <li class="watch-count">
                    3K lượt xem
                  </li>
                  <li class="datetime">
                    3 ngày trước
                  </li>
                </ul>						
              </header>
            </article>
          </li>

          <li>
            <article class="video" >
              <p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
                <a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#">											
                </a>
                <span class="duration">17:30</span>
                
              </p>
              <header class="meta">
                <h3 class="title">
                  <a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#"> Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015 </a>
                </h3>	
                <p class="uploader">
                  <a title="videofly" href="#">Video fly</a>
                </p>
                <ul>
                  <li class="watch-count">
                    3K lượt xem
                  </li>
                  <li class="datetime">
                    3 ngày trước
                  </li>
                </ul>						
              </header>
            </article>
          </li>

          <li>
            <article class="video" >
              <p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
                <a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#">											
                </a>
                <span class="duration">17:30</span>
                
              </p>
              <header class="meta">
                <h3 class="title">
                  <a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#"> Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015 </a>
                </h3>	
                <p class="uploader">
                  <a title="videofly" href="#">Video fly</a>
                </p>
                <ul>
                  <li class="watch-count">
                    3K lượt xem
                  </li>
                  <li class="datetime">
                    3 ngày trước
                  </li>
                </ul>						
              </header>
            </article>
          </li>

          <li>
            <article class="video" >
              <p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
                <a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#">											
                </a>
                <span class="duration">17:30</span>
                
              </p>
              <header class="meta">
                <h3 class="title">
                  <a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#"> Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015 </a>
                </h3>	
                <p class="uploader">
                  <a title="videofly" href="#">Video fly</a>
                </p>
                <ul>
                  <li class="watch-count">
                    3K lượt xem
                  </li>
                  <li class="datetime">
                    3 ngày trước
                  </li>
                </ul>						
              </header>
            </article>
          </li>

          <li>
            <article class="video" >
              <p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
                <a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#">											
                </a>
                <span class="duration">17:30</span>
                
              </p>
              <header class="meta">
                <h3 class="title">
                  <a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#"> Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015 </a>
                </h3>	
                <p class="uploader">
                  <a title="videofly" href="#">Video fly</a>
                </p>
                <ul>
                  <li class="watch-count">
                    3K lượt xem
                  </li>
                  <li class="datetime">
                    3 ngày trước
                  </li>
                </ul>						
              </header>
            </article>
          </li>

          <li>
            <article class="video" >
              <p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
                <a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#">											
                </a>
                <span class="duration">17:30</span>
                
              </p>
              <header class="meta">
                <h3 class="title">
                  <a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#"> Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015 </a>
                </h3>	
                <p class="uploader">
                  <a title="videofly" href="#">Video fly</a>
                </p>
                <ul>
                  <li class="watch-count">
                    3K lượt xem
                  </li>
                  <li class="datetime">
                    3 ngày trước
                  </li>
                </ul>						
              </header>
            </article>
          </li>

          
        </ul>
      </div>
    </div>

    <div class="section hotPlaylistSection vf-communitynewPlaylist">
      <header class="menuSection">
        <h3 class="title">
          <a href="#" title="playlist đề cử"><span>CỘNG ĐỒNG</span> - PLAYLIST MỚI THÊM VÀO</a> 
        </h3>					
      </header>

      <div class="listvideo hotPlaylistvideo">
          <ul class="bxslider">
              <li>					 	
                 <article class="playlistitems" >
                     <p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
                       <a title="Weekend Buzz" rel="bookmark" href="#">			
                       </a>
                       <span class="playitems">
                         <span class="icon-webs playicon"></span>								
                       </span>	
                       <button class="vf-followplbtn" title="Theo dõi playlist">
                         <span class=" followpl-icon">
                             <i class="fa fa-star-o" aria-hidden="true"></i>
                             <i class="fa fa-star" aria-hidden="true"></i>
                         </span> 	
                       </button>														
                     </p>
                     <header class="meta">
                       <h3 class="title">
                         <a title="Weekend Buzz" rel="bookmark" href="#"> Heartbreaker </a>
                       </h3>												
                     </header>
                     <p class="uploader">
                       <a title="videofly" href="#">Video fly</a>
                       <span class="vf-confirm" title="Đã xác nhận">
                         <i class="fa fa-check-square" aria-hidden="true"></i>
                       </span>
                     </p>
                     <div class="desc-intro">
                       <p>
                       Cựu tiền vệ HAGL vẫn như không tin khi được khoác chiếc áo của CLB danh tiếng Incheon United, Hàn Quốc.</p>
                     </div>
                     <ul>
                       <li title="Lượt xem" class="watch-count">
                               <span class="fonticons"><span class="icon-eye"></span></span>
                               3K
                             </li>
                       <li title="Số video" class="videoTotal">
                               <span class="fonticons"><span class="icon-film"></span></span>
                               30							
                             </li>
                       <li class="rating">
                         <span class="fullstar fonticons"><i class="fa fa-star" aria-hidden="true"></i></span>
                         <span class="fullstar fonticons"><i class="fa fa-star" aria-hidden="true"></i></span>
                         <span class="halfstar fonticons"><i class="fa fa-star-half-o" aria-hidden="true"></i></span>
                         <span class="emptystar fonticons"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                         <span class="emptystar fonticons"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                       </li> 	
                     </ul>
                   </article>
              </li>
          </ul>
      </div>
    </div><!-- section -->

    <div class="wrap-section wrap-playlists">
        <header class="menuSection">
            <h3 class="title">
              <a href="#" title="playlist đề cử">Hài</a> 
            </h3>					
          </header>
          <div class="listplaylists">
              <article class="playlistitems" >
                  <p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
                    <a title="Weekend Buzz" rel="bookmark" href="#">			
                    </a>
                    <span class="playitems">
                      <span class="icon-webs playicon"></span>								
                    </span>	
                    <button class="vf-followplbtn" title="Theo dõi playlist">
                      <span class=" followpl-icon">
                          <i class="fa fa-star-o" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                      </span> 	
                    </button>														
                  </p>
                  <header class="meta">
                    <h3 class="title">
                      <a title="Weekend Buzz" rel="bookmark" href="#"> Heartbreaker </a>
                    </h3>												
                  </header>
                  <p class="uploader">
                    <a title="videofly" href="#">Video fly</a>
                    <span class="vf-confirm" title="Đã xác nhận">
                      <i class="fa fa-check-square" aria-hidden="true"></i>
                    </span>
                  </p>
                  <div class="desc-intro">
                    <p>
                    Cựu tiền vệ HAGL vẫn như không tin khi được khoác chiếc áo của CLB danh tiếng Incheon United, Hàn Quốc.</p>
                  </div>
                  <ul>
                    <li title="Lượt xem" class="watch-count">
                            <span class="fonticons"><span class="icon-eye"></span></span>
                            3K
                          </li>
                    <li title="Số video" class="videoTotal">
                            <span class="fonticons"><span class="icon-film"></span></span>
                            30							
                          </li>
                    <li class="rating">
                      <span class="fullstar fonticons"><i class="fa fa-star" aria-hidden="true"></i></span>
                      <span class="fullstar fonticons"><i class="fa fa-star" aria-hidden="true"></i></span>
                      <span class="halfstar fonticons"><i class="fa fa-star-half-o" aria-hidden="true"></i></span>
                      <span class="emptystar fonticons"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                      <span class="emptystar fonticons"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                    </li> 	
                  </ul>
                </article>
                </div>

    </div>
  



    
  
</div> <!-- container -->
</div> <!-- category-page -->