// @import '../../../styles.scss';
@import '../../../assets/css/partial/_setting.scss';
.category
{
	padding-top: 0;	
	//class chung
	.playlistitems 
	{
		.desc-intro + ul .watch-count
		{
			top: 0;
		}
		
	}
	.section 
	{
		margin-bottom: 30px;
	}
	header.menuSection .title, header.menuSection .title
	{
	  font-size: 16px;
	  a 
	  {
	  	color: #eb4335;
	  	 font-size: 16px;
	  }
	}
	#category-header
	{		
		padding: 13px 0 0;
		margin-bottom: 20px;		
		.menuSection
		{
			padding-bottom: 0;
			overflow: $overflow-hidden;			
			.submenu
			{
				display: $display-block;
				bottom:0;
				li 
				{
					padding:0 6px;
					&:first-child 
					{
						padding-left: 0;
					}
					a 
					{
						padding: 0;
						height: 30px;
						line-height: 30px;
						display: $display-block;
						@include styleText(#707378, 14px);
						background: #e5e6ec;
						border-radius: 3px;
						padding: 0 10px;
						-webkit-transition: background 0.2s;
						-moz-transition: background 0.2s;
						-ms-transition: background 0.2s;
						-o-transition: background 0.2s;
						transition: background 0.2s;
						&:hover 
						{
							color:#ffffff;							
							background: #eb4335;
							text-decoration: none;
						}

					}

											
				}
				.active 
				{
					a 
					{	
						color:#ffffff;							
						background: #eb4335;
	
					}
				}
			}
		}
	}
	
	.ttIntroduce
	{
		margin: 35px 0;
		@include styleText(#707378, 30px);
		font-family: "Roboto light";
		font-weight: normal;
		h2	
		{
			@include styleText(#707378, 30px);
			font-family: "Roboto light";
			font-weight: normal;
		}
	}

	.wrap-container
	{
		margin-bottom: 20px;
	}
	.community-section
	{
		margin-bottom: 20px;
		.menuSection
		{
			.title 
			{
				a  
				{
					font-size: 13px;

					span 
					{
						font-size: 18px;
					}
				}
			}
		}

	}
	
	.categorySection
	{
		overflow: $overflow-hidden;
		position: $position-relative;
		margin-bottom: 10px;
		header.menuSection
		{
			border-bottom: 1px solid #eaeaea;
			padding-bottom: 0;
			margin-bottom: 16px;
		}
		aside.infoCategoryList
		{
			width: 196px;	
			position: $position-absolute;
			left: 0;
			top:0;
			height: calc(100% - 12px);
			background:#f1ecec;
			padding: 18px 10px 18px 16px;

			.ttCategory
			{
				margin-bottom: 5px;
				@include styleText(#707378, 18px);
				font-weight: normal;
				text-transform: capitalize;
				font-family: "Roboto";
				h3 
				{
					@include styleText(#707378, 18px);
					font-weight: normal;
					text-transform: capitalize;
					font-family: "Roboto";
				}
			}
			.totalVideo
			{
				@include styleText(#707378, 13px);
			}
			.viewall
			{
				position: $position-absolute;
				left: 16px;
				bottom:18px;
				@include styleText(#707378, 13px);
			}

			.filtershow
			{
				text-align: justify;
				margin-top: 10px;
				a 
				{
					display: $display-inlinebl;
					margin: 0 7px 16px;
					@include styleText(#707378, 13px);
					font-weight: bold;
					text-transform: uppercase;
					&:nth-child(7n)
					{
						@extend %marginright;
					}
					&:nth-child(7n + 1)
					{
						@extend %marginleft;
					}
					&:hover 
					{
						color: #ea4a9f;
					}

				}
				.filter-active
				{
					color: #ea4a9f;
				}
			}
		}

		
	}
	


}




