<div class="full-width internalPage pageVideo">
  <div class="bgBlack"></div>
  <div class="container">
    <div class="mainContent">
      <div id="vf-player" class="section videoPlaying">
        <div id="player">
            <!-- EMBED PLAYER -->
            <div id="embed" style="height: 100%;" data-video-moderated="">
              <video id="vfplayer_primary_video" class="videofly video-js" preload="auto" autoplay crossorigin="anonymous">
                <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to
                  a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports
                    HTML5 video</a></p>
              </video>
            </div>
            <!-- end EMBED PLAYER -->
        </div>
      </div>

      <div class="section introduceVideo">
        <header class="titleVideo">
          <h3 class="title">{{videoDetail.title}}</h3>
        </header>
        <div class="user_wrap clearfix">
          <div class="user_info clearfix">
            <a href="#" class="user_avatar">
              <p class="thumbnail" style="background-image:url('assets/images/user.jpg') "></p>
            </a>
            <div class="user_meta">
              <h4 class="user_name">
                <a href="#">{{videoDetail.userProfile.userId}}</a>
                <span class="vf-confirm" title="Đã xác nhận">
                <i class="fa fa-check-square" aria-hidden="true"></i>
                </span>
              </h4>
              <div class="subscription-container">
                <button class="vf-subscription "> <!-- vf-mysubscription /class for your account -->
                  <span class="vf-activity"> 
                    <span class="iconFont vf-iconFladd" style="display: block">
                      <span class="fonticons"><i class="fa fa-plus" aria-hidden="true"></i></span>			
                    </span> 
                    <span class="iconFont vf-iconFldone" >						 
                      <span class="fonticons"><i class="fa fa-check" aria-hidden="true"></i></span>					
                    </span> 
                    <span class="iconFont vf-iconFlclear" >						
                      <span class="fonticons"><i class="fa fa-times" aria-hidden="true"></i></span>	
                    </span> 

                    <span class="textFollow follow"> Theo dõi </span>
                    <span class="textFollow following"> Đang theo dõi </span>
                    <span class="textFollow disfollow"> Hủy theo dõi </span>
                  </span> 
                </button>
                <span class="total-subscription">{{videoDetail.userProfile.countSubscriber}}</span>
                <div class="wrapbox" style="display: none">
                  <div class="arrow_box forgotLoginbox">
                    <p class="title">Bạn chưa đăng nhập?</p>
                    <p>Hãy đăng nhập để sử dụng chức năng này nhé.</p>
                    <button class="btnLogin"> Đăng nhập</button>
                  </div>
                </div>


              </div>
            </div>
          </div>

          <div class="viewer">
            <p class="watch-count"> <span>{{videoDetail.view}}</span></p>
            <p> Lượt xem</p>
          </div>

          <div class="clear"></div>
        </div>
        <div class="likeandshare">
          <div class="videoAddpl">
            <a class="btn-add" href="#" title="Thêm vào playlist"><span class="icon-webs addicon"></span> Thêm vào</a>
            <div class="add-playlist">
              <div class="arrow_box">
                <select class="multipleSelect" multiple name="language">
                          <option value="Justin Timberlake">Justin Timberlake</option>
                          <option value="Today's top hits">Today's top hits</option>
                          <option value="Coutry">Coutry</option>
                          <option value="Pop">Pop</option>
                          <option value="test">test</option>
                          <option value="test1">test1</option>
                          <option value="test2">test2</option>
                          <option value="test3">test3</option>
                          <option value="test4">test4</option>
                          <option value="test5">test5</option>						                
                          
                      </select>
                <div class="vf-newplaylist">
                  <button>Tạo playlist mới</button>
                </div>

                <div class="actionCustom">
                  <a class="btnClose">Đóng</a>
                  <a class="btnUpdate">Cập nhật</a>
                </div>
              </div>

              <div class="arrow_box forgotLoginbox" style="display: none">
                <p class="title">Bạn chưa đăng nhập?</p>
                <p>Hãy đăng nhập để sử dụng chức năng này nhé.</p>
                <button class="btnLogin"> Đăng nhập</button>
              </div>

            </div>
          </div>


          <div class="shareSocial">
            <a class="sharethisvideo"><span class="icon-webs shareicon"></span>Chia sẻ</a>
          </div>


          <div class="likeActivity">
            <a class="btnlike " title="Thích video">
              <span class="icon-webs likeicon"></span>
               <span class="totalLike">0</span>
            </a>
            <a class="btndislike" title="Không thích video">
              <span class="icon-webs dislikeicon"></span>
              <span class="totaldisLike">0</span>
            </a>
          </div>

          <div class="clear"></div>
        </div>

        <div class="share-bytools">
          <div class="sharing" id="vfsharefb">
            <a href="#" id="btshfb"> <span class="icon-webs sharefbicon"></span> Chia sẻ</a>
            <a href="#" id="btsendfb"><span class="icon-webs sendfbicon"></span>Gửi tặng</a>
          </div>
          <div class="video-meta">
            <p class="embedbtn"><span class="icon-webs embedicon"></span> Mã nhúng</p>
          </div>
          <div class="clear"></div>
        </div>

        <div class="description">
          <p class="published-date">Ngày đăng: <span>{{videoDetail.createTs}}</span></p>
          <p class="category"> Chuyên mục: 
            <span *ngFor= "let subCatelogory of videoDetail.subCategories"> 
              <a href="/subCatelogory.pathName/subCatelogory.pathName">{{subCatelogory.cateName}}</a> 
            </span> 
          </p>
          <p class="tags"> Chủ đề: <span> <a href="#">2012</a>, <a href="">i swear</a> , <a href="#"> it's the truth redemption rob baird</a> </span>            </p>
          <p class="video-desc">{{ videoDetail.description }}</p>
          <a class="viewMore"> Xem thêm </a>
        </div>
        <!-- description -->
      </div>
      <!-- introduceVideo -->
      <div class="section comments" id="video-comments">
        <header class="subTitelsection">
          <h3 class="title">BÌNH LUẬN</h3>
        </header>
      </div>
      <!-- comments -->

    </div>
    <!-- mainContent -->
    <app-suggestvideo></app-suggestvideo>
    <div class="clear"></div>
  </div>
  <!-- container -->
</div>
<!-- home-page -->