<div class="listPlaylistslide">
    <ul class="playlistslider">
        <li>		
            <app-playlistitem></app-playlistitem>			 	
        </li>

        <li>		
            <app-playlistitem></app-playlistitem>			 	
        </li>

        <li>		
            <app-playlistitem></app-playlistitem>			 	
        </li>

        <li>		
            <app-playlistitem></app-playlistitem>			 	
        </li>

        <li>		
            <app-playlistitem></app-playlistitem>			 	
        </li>

        <li>		
            <app-playlistitem></app-playlistitem>			 	
        </li>

        <li>		
            <app-playlistitem></app-playlistitem>			 	
        </li>
    </ul>
</div>