@import '../../../styles.scss';

.vf-artistpage
{
	// opacity: 0;	

	header.menuSection 
	{
		position: relative;
		.title
		{
			font-size: 18px;
			color:#323232;
			text-transform: capitalize;
			width: 50%;
			a 
			{
				font-size: 18px;
				text-transform: none;
				color:#323232;
				text-transform: capitalize;
			}
			span 
			{
				font-weight: normal;
				font-size: 14px;
				color: #969696;
			}
			.medium-txt 
			{
				color:#323232;
			}
		}		
		.wrap-viewall
		{
			position: absolute;
			right: 30px;
			top: 2px;
			&.absolutess
			{
				right: 0;
				top: 0;
			}
			a
			{
				display: inline-block;
				&.showall
				{
					@include styleText(#828282,12px);
					&:hover 
					{
						color: #527afa;
					}
				}
				&.hide 
				{
					position: relative;
					top: 6px;
				}
			}
		}
	}

	
	.vf-kindofmusicart
	{
		padding-top: 15px;		
		> div
		{
			padding-bottom: 15px;
		}
		.kindofmusic-art
		{
			ul 
			{
				text-align: center;
				li 
				{
					display: inline-block; 
					margin:0 5px;
					a 
					{
						display: block;
						padding: 5px 8px;
						border-radius: 4px;
						background: #999999;
						transition: background 0.3s;
						@include styleText(#ffffff, 14px);
						&:hover 
						{
							text-decoration: none;
							// color: #eb4335;
							background: #eb4335;
						}
					}
				}
			}
		}
	}
	.vf-other-infoart
	{
		overflow: hidden;		
		>div
		{
			overflow: hidden;
		}
		.wrap-box
		{
			width: 25%;
			float: left;
			padding-right: 10px;
			h3 
			{
				@include styleText(#333333, 18px);
				margin-bottom: 10px;
				font-weight: normal;
			}
			p 
			{
				@include styleText(#666666, 13px);
			}
			p > a 
			{
				@include styleText(#6666ff, 13px);

			}
			>ul 
			{
				li 
				{
					display: inline-block;
					margin: 0 10px;
					&:first-child 
					{
						margin-left: 0;
					}
					a 
					{
						display: block;
						width: 40px;
						height: 40px;
						line-height: 40px;
						text-align: center;
						border-radius: 50%;
						border: 1px solid #999999;
						font-size: 25px;
						color: #999999;
					}
				}
			}
		}
	}

	.vf-main-track
	{
		padding-bottom: 10px;
		
		.wrap-haftsection
		{
			width: 100%;
			&.left 
			{
				float: left;
				padding-right: 10px;
			}
			&.right 
			{
				float: right;
				padding-left: 10px;
			}
			> header 
			{
				.title 
				{
					@include styleText(#000000, 18px);
				}
			}
		   
		}
		::ng-deep 
		{
			app-videoitem
			{
				float: left;
				width: calc(50% - 10px);
				margin-bottom: 12px;
				 &:nth-child(2n) 
				{
					margin-left: 20px;
				}
			}
		}
		
	}

	.vf-section
	{
		border-bottom: 1px solid #cccccc;
		padding-bottom: 20px;
		margin-bottom: 20px;		
		
	}

	.vf-suggestotheart
	{
		border: none;			
		.listitems
		{
			overflow: hidden;
			app-similarartistitem
			{
				float: left;
				margin: 0 6px;
				margin-bottom: 12px;
				&:nth-child(5n)
				{
					margin-right: 0;
				}
				&:nth-child(5n + 1)
				{
					margin-left: 0;
				}
			}
		}
	}	
}