<div class="full-width internalPage  vf-artistpage">
    <div class="wrapcontainer">	
     <app-bannerartist></app-bannerartist>	
     
     <div class="container">
      <div class="vf-section vf-kindofmusicart">			
          <div class="kindofmusic-art">
            <ul>
              <li><a href="#">pop / rock</a></li>
              <li><a href="#">R&B</a></li>
              <li><a href="#">jazz funk</a></li>
              <li><a href="#">Cool</a></li>							
              <li><a href="#">modern music</a></li>					

            </ul>
          </div>
        
        </div>	
      
      <div class="vf-section vf-other-infoart">         
            <div class="wrap-box">
              <h3>From</h3>
              <p>Waikiki, HI</p>
            </div>
            <div class="wrap-box">
              <h3>Born</h3>
              <p>October 8, 1985 </p>						
            </div>
            <div class="wrap-box">
              <h3>Member of</h3>						
              <p>The Smeezingtons</p> 
              <p>Submit Corrections</p> 
            </div>
            <div class="wrap-box">
              <h3>Around the web</h3>
              <ul>
                <li class="facebook"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li class="facebook"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li class="facebook"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              </ul>
            </div>
         
        </div>
        
      
        <div class="vf-section vf-main-track">             
          <header class="menuSection">
              <h3 class="title">
                  Top Tracks
              </h3>	                   
          </header>      

          <app-strackvideos></app-strackvideos>             
         
      </div>  

      <div class="vf-section vf-playlist">			
        <header class="menuSection">
            <h3 class="title">
                Albums
            </h3>
            <div class="wrap-viewall absolutess">
                <a routerLink="/am-nhac/artist-playlists" class="showall" title="Xem tất cả"> View all <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>							
            </div>
        </header>
        <app-splaylist-slide></app-splaylist-slide>
      </div> 
      <div class="vf-section vf-suggestotheart">
          <header class="menuSection">
              <h3 class="title">
                  Similar to
              </h3>					
          </header>
          <div class="listitems">
              <app-similarartistitem></app-similarartistitem>
              <app-similarartistitem></app-similarartistitem>
              <app-similarartistitem></app-similarartistitem>
              <app-similarartistitem></app-similarartistitem>
              <app-similarartistitem></app-similarartistitem>
              <app-similarartistitem></app-similarartistitem>
              <app-similarartistitem></app-similarartistitem>
              <app-similarartistitem></app-similarartistitem>
              <app-similarartistitem></app-similarartistitem>
              <app-similarartistitem></app-similarartistitem>
          </div>
      </div>  
    </div>  
     
            
 </div> <!--artistpage -->