<div class="full-width internalPage pageChannel channel-searchpage">
  <div class="container">    
    <app-banneraccount></app-banneraccount>
    <div class="vf-videos-section ">
      <header class="vf-wraptitle">
        <h3>Videos "easy"</h3>
        
      </header>
      <div class="listvideos">
        <app-videoitem></app-videoitem>
        <app-videoitem></app-videoitem>
        <app-videoitem></app-videoitem>
        

      </div>
      <div class="wrap-viewall"><a href="#">Xem tất cả</a></div>
  </div>

  <div class="vf-playlists-section">
    <header class="vf-wraptitle">
      <h3>Playlists "easy"</h3>					
    </header>
    <div class="list-playlists">	
        <app-channelplaylistitem></app-channelplaylistitem>
        <app-channelplaylistitem></app-channelplaylistitem>
        <app-channelplaylistitem></app-channelplaylistitem>
        <app-channelplaylistitem></app-channelplaylistitem>
        <app-channelplaylistitem></app-channelplaylistitem>
        <app-channelplaylistitem></app-channelplaylistitem>
        <app-channelplaylistitem></app-channelplaylistitem>
    </div>
    <div class="wrap-viewall"><a href="#">Xem tất cả</a></div>
  </div>

 
</div>
</div>