<div class="userIntroduce">
  <div class="coverPhoto" style="background-image: url('../assets/images/coverUser.png')"> 
    <a href="#" class="cameraCover" title="change cover"> 
    <span class="icon-webs cameralargericon"></span>
     <input class="change-photo" type="file" name="pic" accept="image/*">					 
    </a>
    <div class="change-action-box">
      <div class="messageError" style="display: block">
        <p><span class="errorText">Lỗi!!! </span><span class="msg-text">Lưu thay đổi thất bại.</span></p>
      </div>	
      <button class="update-btn" title="Xác nhận"><span class="icon-webs update-icon"></span></button>
      <button class="cancel-btn" title="Hủy"><span class="icon-webs cancel-icon"></span></button>
    </div>	
    <div class="progress" style="display: block;">
      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">							    
      </div>
    </div>
    
  </div>
  <div class="avatarUser">
    <div class="avatarPhoto" style="background-image: url('../assets/images/avatarUser.png')" >
      <a href="#" class="cameraAvartar" title="change avatar"> <span class="icon-webs camerasmallicon"></span>
       <input class="change-photo" type="file" name="pic" accept="image/*">
      </a>
      <div class="change-action-box">
        <div class="messageError" style="display: none">
          <p><span class="errorText">Lỗi! </span><span class="msg-text">Lưu thay đổi thất bại.</span></p>
        </div>
        <button class="update-btn" title="Xác nhận"><span class="icon-webs update-icon"></span></button>
        <button class="cancel-btn" title="Hủy"><span class="icon-webs cancel-icon"></span></button>
      </div>
      
      <div class="progress" style="display: block;">
      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">							    
      </div>
    </div>
    </div>

  </div>

  <div class="vf-infochannel">
    <div class="vf-channel-name">
      <h2 id="vf-editor-channelname" class="nameUser " contenteditable="true"> The Voice Viet Nam - Giọng Hát Việt</h2>
      <span class="vf-confirm" title="Đã xác nhận"><i class="fa fa-check-square" aria-hidden="true"></i></span>
    </div>	
    
    <div class="vf-desc-channel">
      <div id="vf-editcontent" class="desc" contenteditable="true">
        <p>Bitches in Town (tạm dịch: Những kẻ lắm lời) đàm tiếu về những câu chuyện xoay quanh showbiz Việt. 
          Lần đầu tiên, khán giả mắt thấy tai nghe những câu thoại chân thật và tự nhiên, bộc trực thẳng thắn nhưng
           không kém phần hài hước - tất tần tật về những gì liên quan đến phim ảnh, âm nhạc, thời trang và thế giới giải trí.
            Bitches in Town (tạm dịch: Những kẻ lắm lời) đàm tiếu về những câu chuyện xoay quanh showbiz Việt. Lần đầu tiên,
             khán giả mắt thấy tai nghe những câu thoại chân thật và tự nhiên, bộc trực thẳng thắn nhưng không kém phần 
             hài hước - tất tần tật về những gì liên quan đến phim ảnh, âm nhạc, thời trang và thế giới giải trí. </p></div>						
    </div>


    <div class="vf-media">         
      <app-subscriptionchannel></app-subscriptionchannel>
    </div>
  </div>

  
</div> <!-- userIntroduce -->

<aside class="vf-menu-channel">
  <ul>
    <li><a class="active" routerLink="/channel-detail">Kênh chính </a></li>
    <li><a routerLink="/channel-videos">Video </a></li>
    <li><a routerLink="/channel-playlists">Danh sách phát </a></li>
    <li><a routerLink="/channel-subchannels">Kênh</a></li>
    <li><a routerLink="/channel-about">Giới thiệu </a></li>
    <li>
      <button><span class="icon-webs searchicon"></span></button>
      <input type="text" name="search_chanlel" placeholder="Bạn muốn tìm gì?">
    </li>
  </ul>
</aside>