<aside id="relationVideo" class="relationVideo">
    <div class="favoriteVideo">
      <header class="subTitelsection">
        <h2 class="title">CÓ THỂ BẠN THÍCH</h2>
      </header>
      <div class=" vjs-favorites listvideo wrap-playlistitems" zone-id="suggest">
      </div> <!-- listvideo -->
      <div class="wrapNextandPrev" style="display: none;">
        <a href="#" class="prevbt limitbt"> <span class="icon-webs prevarrowicon"></span> </a>
        <a href="#" class="nextbt "> <span class="icon-webs nextarrowicon"></span> </a>
      </div>
    </div>  <!-- favoriteVideo -->
  </aside>