<div class="internalPage vf-communityPage">
  <div class="container">
    <div class="vf-slider">
      <ul class="community-slider">
        <li><a href="#">
          <article>
            <div class="cover-slider" style="background-image: url(/assets/images/banner1.jpg)"></div>
          </article>
        </a></li>	

        <li><a href="#">
          <article>
            <div class="cover-slider" style="background-image: url(/assets/images/banner1.jpg)"></div>
          </article>
        </a></li>	

        <li><a href="#">
          <article>
            <div class="cover-slider" style="background-image: url(/assets/images/banner1.jpg)"></div>
          </article>
        </a></li>			 
      </ul>
    </div> <!-- vf-slider -->
    <div class="section sectioncontent listVideo ">
      <header class="menuSection">
        <h2 class="title">
          <a title="Xe" href="#">Trending</a>
        </h2>					
      </header>
      <div class="listvideo">
					<article *ngFor="let i of Arr(num).fill(1)" class="video" >
						<p class="thumbnail" style="background-image: url(/assets/images/thumb-larger.jpg)">
							<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#">
								
							</a>
							<span class="duration">17:30</span>
							
						</p>
						<header class="meta">
							<h3 class="title">
								<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#"> Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015 </a>
							</h3>	
							<p class="uploader">
							<a title="videofly" href="#">Video fly</a>
							</p>
							<ul>
								<li class="watch-count">
									3K lượt xem
								</li>
								<li class="datetime">
									3 ngày trước
								</li>
							</ul>						
						</header>
          </article>
        </div>
    </div>

  </div>
</div>