
<div class="vf-slider">
  <ul class="banner-slider">
    <li><a href="#">
      <article>
        <div class="cover-slider" style="background-image: url(../assets/images/banner1.jpg)"></div>
      </article>
    </a></li>	
  
    <li><a href="#">
      <article>
        <div class="cover-slider" style="background-image: url(../assets/images/banner2.jpg)"></div>
      </article>
    </a></li>	
  
    <li><a href="#">
      <article>
        <div class="cover-slider" style="background-image: url(../assets/images/banner1.jpg)"></div>
      </article>
    </a></li>	
    
    <li><a href="#">
      <article>
        <div class="cover-slider" style="background-image: url(../assets/images/banner2.jpg)"></div>
      </article>
    </a></li>	
  </ul>
</div>
