.banner-slider
{
    width: 100%;
    >li 
    {
        float: left;
        width: 100%;
        >a 
        {
            width: 100%;
            display: block;
            .cover-slider
            {
                width: 100%;
                height: 328px;
                background-position: 50% 50%;
                background-size: cover;
            }
            
        }
    }
}

.vf-slider
{
    margin-bottom: 15px;	
    max-height: 328px;
    overflow: hidden;	
    ::ng-deep
    {
        .bx-wrapper
        {
            .bx-viewport
            {
                left: 0;
            }
            .bx-controls-direction a
            {
                top: auto;
                bottom: 16px;
                width: 50px;
                height: 50px;
                z-index: 100;
                &.bx-prev
                {
                    left: 14px;
                    background-position: -7px -1576px;
                }
                &.bx-next 
                {
                    right: 18px;
                    background-position: -6px -1650px;
                }
            }
        
        } 
    
    } 
}
