<div class="full-width internalPage pageSearch">
  <aside id="category-header">
    <div class="container">
      <div class="wrapfiterandresult">
      <div class="searchfiltter">
        <button>Lọc kết quả <span class="icon"></span></button>					
      </div>
      <p class="resultListvideo">Tìm thấy 2.333.333 kết quả </p>
      <div class="clear"></div>
    </div>	
    </div>
   </aside>

   <div class="container">
    <div class="searchsection">	      
      <div id="tabs" class="filter-result">
        <ul class="choosetab">
          <li ><a href="#tabs-1">Videos</a></li>
          <li><a href="#tabs-2">Playlists</a></li>
          <li><a href="#tabs-3">Channels</a></li>
          <li><a href="#tabs-4">Artists</a></li>
        </ul>

        <div id="tabs-1" >
            <div class="search-result list-videos">
               <app-videoitem></app-videoitem>
               <app-videoitem></app-videoitem>
               <app-videoitem></app-videoitem>
               <app-videoitem></app-videoitem>
               <app-videoitem></app-videoitem>
            </div>
          </div> 
        
        <div id="tabs-2" >
          <div class="search-result list-playlists">
              <app-playlistitem></app-playlistitem>
              <app-playlistitem></app-playlistitem>
              <app-playlistitem></app-playlistitem>
              <app-playlistitem></app-playlistitem>
              <app-playlistitem></app-playlistitem>
          </div>
        </div> 

        <div id="tabs-3">
				    <div class="search-result list-channels">
              <app-channelitem></app-channelitem>
              <app-channelitem></app-channelitem>
              <app-channelitem></app-channelitem>
              <app-channelitem></app-channelitem>
              <app-channelitem></app-channelitem>
              <app-channelitem></app-channelitem>
            </div>
        </div>

        <div id="tabs-4">
				    <div class="search-result list-artists">
              <app-artistitem></app-artistitem>
              <app-artistitem></app-artistitem>
              <app-artistitem></app-artistitem>
              <app-artistitem></app-artistitem>
              <app-artistitem></app-artistitem>
            </div>
        </div>


      </div> 

      <div class="search-result list-allresult">
        <app-videoitem></app-videoitem>
        <app-videoitem></app-videoitem>
        <app-playlistitem></app-playlistitem>
        <app-playlistitem></app-playlistitem>
        <app-channelitem></app-channelitem>
        <app-channelitem></app-channelitem>
        <app-artistitem></app-artistitem>
      </div>
    </div> 
  </div>   

  </div>