<div class=" wrap-bannerinner wrap-bannerinnerHD">
  <div class="vf-bigbanner">					
      <span class="artphoto" style="background-image: url('./assets/images/bannergenre.jpg')"></span>
      <!-- <div class="wrap-thumbitems">
          <span class="thumbitem" style="background-image: url('./assets/images/rock.png')"></span>
          <span class="thumbitem" style="background-image: url('./assets/images/edm.png')"></span>
          <span class="thumbitem" style="background-image: url('./assets/images/rock.png')"></span>
          <span class="thumbitem" style="background-image: url('./assets/images/edm.png')"></span>
          <span class="thumbitem" style="background-image: url('./assets/images/rock.png')"></span>
          <span class="thumbitem" style="background-image: url('./assets/images/edm.png')"></span>
          <span class="thumbitem" style="background-image: url('./assets/images/rock.png')"></span>
          <span class="thumbitem" style="background-image: url('./assets/images/edm.png')"></span>
          <span class="thumbitem" style="background-image: url('./assets/images/rock.png')"></span>
          <span class="thumbitem" style="background-image: url('./assets/images/edm.png')"></span>
          <span class="thumbitem" style="background-image: url('./assets/images/rock.png')"></span>
          <span class="thumbitem" style="background-image: url('./assets/images/edm.png')"></span>
          <span class="thumbitem" style="background-image: url('./assets/images/rock.png')"></span>
          <span class="thumbitem" style="background-image: url('./assets/images/edm.png')"></span>
          <span class="thumbitem" style="background-image: url('./assets/images/rock.png')"></span>
          <span class="thumbitem" style="background-image: url('./assets/images/edm.png')"></span>
          <span class="thumbitem" style="background-image: url('./assets/images/rock.png')"></span>
          <span class="thumbitem" style="background-image: url('./assets/images/edm.png')"></span>
          <span class="thumbitem" style="background-image: url('./assets/images/rock.png')"></span>
          <span class="thumbitem" style="background-image: url('./assets/images/edm.png')"></span>
          <span class="thumbitem" style="background-image: url('./assets/images/rock.png')"></span>
          <span class="thumbitem" style="background-image: url('./assets/images/edm.png')"></span>
          <span class="thumbitem" style="background-image: url('./assets/images/rock.png')"></span>
          <span class="thumbitem" style="background-image: url('./assets/images/edm.png')"></span>
          <span class="thumbitem" style="background-image: url('./assets/images/rock.png')"></span>
          <span class="thumbitem" style="background-image: url('./assets/images/edm.png')"></span>
          <span class="thumbitem" style="background-image: url('./assets/images/rock.png')"></span>
          <span class="thumbitem" style="background-image: url('./assets/images/edm.png')"></span>
          <span class="thumbitem" style="background-image: url('./assets/images/rock.png')"></span>
          <span class="thumbitem" style="background-image: url('./assets/images/edm.png')"></span>
          <span class="thumbitem" style="background-image: url('./assets/images/rock.png')"></span>
          <span class="thumbitem" style="background-image: url('./assets/images/edm.png')"></span>
          <span class="thumbitem" style="background-image: url('./assets/images/rock.png')"></span>
          <span class="thumbitem" style="background-image: url('./assets/images/edm.png')"></span>
          <span class="thumbitem" style="background-image: url('./assets/images/rock.png')"></span>
          <span class="thumbitem" style="background-image: url('./assets/images/edm.png')"></span>	
          <span class="thumbitem" style="background-image: url('./assets/images/rock.png')"></span>
          <span class="thumbitem" style="background-image: url('./assets/images/edm.png')"></span>	
          <span class="thumbitem" style="background-image: url('./assets/images/rock.png')"></span>
          <span class="thumbitem" style="background-image: url('./assets/images/edm.png')"></span>				
      

      </div> -->
  </div>
  <div class="gradientbg"></div>
  <div class="container ">
      <div class="wrap-boxinfo">
          <header class="name-title"><h1 class="title">R & B</h1></header>
          <div class="intro-box">
              <div class="sort-desc">
                  <p><a href="#">Bruno Mars </a> is among the flashiest, most versatile singer/songwriters in post-millennial pop. An all-around entertainer, he also plays multiple instruments, produces, and choreographs. His path to mainstream success was lengthy. After he worked a string of behind-the-scenes jobs, including writing songs for <a href="#">Brandy</a> , singing backup for <a href="#">Sugababes</a> , and impersonating Elvis Presley, he put his name on top of the Billboard Hot 100 by co-writing Flo Rida and Kesha's "Right Round." One year later, he collaborated with rapper B.o.B on "Nothin' on You" and co-wrote Travie McCoy's "Billionaire," both of which became Top Ten hits. Mars used that momentum to launch a solo career and became the first male vocalist in two decades to crack the Top Ten with his first four singles.
                    <a href="#">Bruno Mars </a> is among the flashiest, most versatile singer/songwriters in post-millennial pop. An all-around entertainer, he also plays multiple instruments, produces, and choreographs. His path to mainstream success was lengthy. After he worked a string of behind-the-scenes jobs, including writing songs for <a href="#">Brandy</a> , singing backup for <a href="#">Sugababes</a> , and impersonating Elvis Presley, he put his name on top of the Billboard Hot 100 by co-writing Flo Rida and Kesha's "Right Round." One year later, he collaborated with rapper B.o.B on "Nothin' on You" and co-wrote Travie McCoy's "Billionaire," both of which became Top Ten hits. Mars used that momentum to launch a solo career and became the first male vocalist in two decades to crack the Top Ten with his first four singles.</p>
                <p><a href="#">Bruno Mars </a> is among the flashiest, most versatile singer/songwriters in post-millennial pop. An all-around entertainer, he also plays multiple instruments, produces, and choreographs. His path to mainstream success was lengthy. After he worked a string of behind-the-scenes jobs, including writing songs for <a href="#">Brandy</a> , singing backup for <a href="#">Sugababes</a> , and impersonating Elvis Presley, he put his name on top of the Billboard Hot 100 by co-writing Flo Rida and Kesha's "Right Round." One year later, he collaborated with rapper B.o.B on "Nothin' on You" and co-wrote Travie McCoy's "Billionaire," both of which became Top Ten hits. Mars used that momentum to launch a solo career and became the first male vocalist in two decades to crack the Top Ten with his first four singles.
                    <a href="#">Bruno Mars </a> is among the flashiest, most versatile singer/songwriters in post-millennial pop. An all-around entertainer, he also plays multiple instruments, produces, and choreographs. His path to mainstream success was lengthy. After he worked a string of behind-the-scenes jobs, including writing songs for <a href="#">Brandy</a> , singing backup for <a href="#">Sugababes</a> , and impersonating Elvis Presley, he put his name on top of the Billboard Hot 100 by co-writing Flo Rida and Kesha's "Right Round." One year later, he collaborated with rapper B.o.B on "Nothin' on You" and co-wrote Travie McCoy's "Billionaire," both of which became Top Ten hits. Mars used that momentum to launch a solo career and became the first male vocalist in two decades to crack the Top Ten with his first four singles.</p>
                 
                </div>
              <div class="readmore"> <a href="#"><span class="fonticons"><i class="fa fa-chevron-down" aria-hidden="true"></i></span></a> </div>						
          </div>
          
      </div>
      
  </div>
</div>