<div class="listartists artists-section">
    <ul class="artistslider">
        <li>
            <app-artistitem></app-artistitem>
        </li>
        <li>
            <app-artistitem></app-artistitem>
        </li>
        <li>
            <app-artistitem></app-artistitem>
        </li>
        <li>
            <app-artistitem></app-artistitem>
        </li>
        <li>
            <app-artistitem></app-artistitem>
        </li>

        <li>
            <app-artistitem></app-artistitem>
        </li>
        <li>
            <app-artistitem></app-artistitem>
        </li>
        <li>
            <app-artistitem></app-artistitem>
        </li>
        <li>
            <app-artistitem></app-artistitem>
        </li>
        <li>
            <app-artistitem></app-artistitem>
        </li>
    </ul>
</div>