<div class="full-width internalPage pageChannel  channel-channelsuggestpage">
  <div class="container">    
    <app-banneraccount></app-banneraccount>
     <div class="vf-allrelated-channels">
       <div class="vf-list-channels">
         <app-channelitem></app-channelitem>
         <app-channelitem></app-channelitem>
         <app-channelitem></app-channelitem>
         <app-channelitem></app-channelitem>
         <app-channelitem></app-channelitem>
         <app-channelitem></app-channelitem>
         <app-channelitem></app-channelitem>
         <app-channelitem></app-channelitem>
         <app-channelitem></app-channelitem>
         <app-channelitem></app-channelitem>
         <app-channelitem></app-channelitem>


       </div>

     </div>
  </div>
</div>