
  <div  class="listplaylists">
    
      <app-playlistitem></app-playlistitem>
      <app-playlistitem></app-playlistitem>
      <app-playlistitem></app-playlistitem>
      <app-playlistitem></app-playlistitem>
      <app-playlistitem></app-playlistitem>
      <app-playlistitem></app-playlistitem>
      <app-playlistitem></app-playlistitem>
      <app-playlistitem></app-playlistitem>
      <app-playlistitem></app-playlistitem>
      <app-playlistitem></app-playlistitem>
      <app-playlistitem></app-playlistitem>
      <app-playlistitem></app-playlistitem>
  </div>
    
 	


