<div id="home-page" class="wrapper full-width">
  <div class="container">
      <div class="wrap-banner">
          <article class="video videoPlaylist vf-suggest-playlist" >
            <div class="big-thumbnail" style="background-image: url(images/Dinner.jpg)" >							
              <a title="Today top hits" rel="bookmark" href="#">	
  
              </a>
            </div>
            <p class="thumbnail" style="background-image: url(images/Dinner.jpg)">
              <a title="Today top hits" rel="bookmark" href="#">	
                <span class="playitems">
                  <span class="icon-webs playicon"></span>								
                </span>												
              </a>						
              <span class="videoTotal">999 video</span>
            </p>
            <div class="vf-intro-playlist">						
              <div class="wrap-table">
                <div class="wrap">
                  <a class="link-playlist" href="#"></a>	
  
                  <header class="meta">
                    <h3 class="title">
                      <a title="Today top hits" rel="bookmark" href="#">Những kẻ lắm lời</a>
                    </h3>
                                        
                  </header>
                  <div class="vf-desc-playlist">
                    <a href="#">Đàm tiếu về những sự kiện nóng hổi trong showbiz Việt một cách chân thật thẳng thắn nhưng cũng rất hài hước.
    Nội dung thường xoay quanh những sự kiện nổi bật trong showbiz</a>
                    
                  </div>
                  
                </div>
                
              </div>
              
            </div>			
            
          </article>
          
        </div> <!-- newListvideo -->




  </div>
</div>