<article class="channelitem">						
  <div class="wrap-thumb">
    <a href="#" class="thumbnail" style="background-image:url(../assets/images/avatarUser.png) "></a> 
  </div>							
  <div class="wrap-title">
    <header><h3 class="title">
      <a href="#">View TV <span class="vf-confirm" title="Đã xác nhận"><i class="fa fa-check-square" aria-hidden="true"></i></span></a> 
    </h3></header>	
    <div class="totalvideos">
      <p>33 videos</p>
    </div>						
    <div class="desc-channel">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem ...</p>
    </div>								
  </div>
  <div class="followChanel">
   
       <app-subscriptionchannel></app-subscriptionchannel>
                  
  </div>						
  
</article>