@import "../../styles.scss";
.relationVideo
{
    float: $float-right;
    width: 375px;		
    position: $position-absolute;
    top:20px;
    right:0;
    //bottom: 50px;
    //margin: auto;		
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    // class chung
    .listvideo 
    {						
        padding-top: 15px;			
        overflow: $overflow-hidden;
        .video
        {
            float: $float-none;				
            padding: 0;
            margin-bottom: 15px;				
            .thumbnail 
            {
                float: $float-left;
                margin-right: 10px;					
            }
            header.meta
            {
                overflow: hidden;	
                padding-top: 0;				
            }
        }
    }	

    .favoriteVideo
    {			
        padding:0 0 15px 0;
        margin-left: 16px;
        .listvideo 
        {				
            border-bottom: 1px solid #d7d7d7;
            height: calc(100% - 60px);
            .video
            {
                float: $float-none;				
                margin: 0;
                margin-bottom: 15px;
                width: 100%;	
                height: auto;
                overflow: hidden;				
                &:nth-child(n + 14)
                {
                    display: none;
                }				
                .thumbnail 
                {
                    width: 182px;
                    height: calc(182px / 1.77);
                    float: $float-left;
                    margin-right: 10px;											
                }
                header.meta
                {
                    overflow: hidden;	
                    padding-top: 0;	
                    margin-bottom: 5px;
                    .title 
                    {						
                        a 
                        {
                            @include styleText(#303234, 15px);
                            font-weight: bold;								
                        }
                    }
                    // .watch-count
                    // {
                    // 	@include styleText(#707378, 12px);
                    // }			
                }

                .uploader
                {
                    padding: 0 10px;
                    margin-bottom: 10px;
                    a
                    {
                        @include styleText(#828282, 11px);
                        text-transform: uppercase;
                        &:hover 
                        {
                            color: #527afa;
                            text-decoration: none;
                        }					
                        
                    }
                }

                >ul>li 
                {
                    list-style: none;
                    display: inline-block;
                    padding-right: 4px;
                    @include styleText(#707378, 12px);
                    &:last-child 
                    {
                        padding-right: 0;
                    }
                    &.watch-count::after
                    {
                        content: '';
                        display: inline-block;
                        width: 3px;
                        height: 3px;
                        background: #d7d7d7;
                        margin-left: 8px;
                        position: relative;
                        bottom: 2px;
                    }
                } 
                .decs-show
                {
                    @include styleText(#707378, 12px);
                    line-height: 20px;
                    max-height: 62px;
                    overflow: $overflow-hidden;
                    display: none;
                }
                
            }
            .video-related
            {
                float: $float-none;				
                margin: 0;
                margin-bottom: 15px;
                width: 100%;
                height: 182px !important;
                &:nth-child(n + 14)
                {
                    display: none;
                }				
                .thumbnail 
                {
                    float: $float-left;
                    margin-right: 10px;	
                    width: 182px !important ;
                    height: 182px !important;				
                }
                header.meta
                {
                    overflow: hidden;	
                    padding-top: 0;	
                    margin-bottom: 5px;
                    .title 
                    {						
                        a 
                        {
                            @include styleText(#1e1e1e, 15px);
                            display: $display-block;							
                        }
                    }
                    .watch-count
                    {
                        @include styleText(#707378, 12px);
                    }			
                }
                .uploader
                {
                    padding: 0 10px;
                    margin-bottom: 10px;
                    a
                    {
                        @include styleText(#828282, 11px);
                        text-transform: uppercase;
                        &:hover 
                        {
                            color: #527afa;
                            text-decoration: none;
                        }					
                        
                    }
                }
                .decs-show
                {
                    @include styleText(#707378, 12px);
                    line-height: 20px;
                    max-height: 137px;
                    overflow: $overflow-hidden;
                }

                .vf-followplbtn
                {
                    display: none;
                }
                &:hover 
                {
                    .playitems
                    {
                        opacity:1;
                    }		
                    .vf-followplbtn
                    {
                        display: block;					
                    }
                }
                .desc-intro
                {
                    @include styleText(#828282, 13px);
                    max-height: 51px;
                    overflow: $overflow-hidden;						
                    line-height: 17px;
                    margin-top: 5px;
                    display: block;						

                    h1,h2,h3,h4,h5,h6 
                    {
                        @include styleText(#828282, 13px);
                        line-height: 16px;
                        font-weight: normal;
                    }
                }

                > ul 
                {						
                    width: 100%;
                    
                    li 
                    {
                        @include styleText(#818181, 12px);
                        display: $display-inlinebl;
                        // padding-right: 15px;
                        span.arrow-right
                        {
                            @extend %arrow-right;
                            border-left: 11px solid #c1c1c1;
                            display: $display-inlinebl;							
                        }
                        
                    }
                    .videoTotal
                    {
                        @include styleText(#818181, 12px);
                        background: none;
                        position: relative;
                        bottom: 0;
                        left: 0;
                    }
                    .watch-count
                    {
                        
                        @include styleText(#818181, 12px);
                    }
                }
            }
            &.vf-playlistitems
            {
                .video-related
                {
                    .desc-intro
                    {
                        display: block;
                    }
                }
            }

        }
        
    }	
    header.subTitelsection
    {			
        .title
        {
            margin-bottom: 0;	
            text-transform: none;
            @include styleText(#707378, 17px);									
        }
        
    }			
    
    .showmore
    {
        @include styleText(#6d6d6d, 14px);
        display: $display-block;
        margin: 0 auto;
        width: 100px;
        padding: 5px 0;
        margin-top: 10px;
        text-align: center;
        &:hover 
        {
            color: $color-hover;
            text-decoration: none;
        }
    }
    .wrapNextandPrev
    {
        overflow: $overflow-hidden;
        margin-top: 10px;
        a 
        {
            display: $display-block;
            width: 35px;
            height: 30px;
            line-height: 30px;
            text-align: $align-center;
            color: #6d6d6d;
            font-size: 14px;
            border: 1px solid #ccc;
            &:hover 
            {
                background: #ccc;
            }
        }
        .prevbt
        {
            float: $float-left;
        }
        .nextbt
        {
            float: $float-right;
        }
        .limitbt
        {
            opacity: 0.4;
            cursor:no-drop;
            //background: #ccc;
        }

    }

}