<aside class="relationVideo">
  <div class="favoriteVideo">
    <header class="subTitelsection">
      <h3 id = "title" class="title">Có thể bạn thích</h3>
    </header>
    <div class="listvideo">
      <article class="video">
        <p class="thumbnail" style="background-image: url(assets/images/thumb-larger.jpg)">
          <a title="Hòa Âm Ánh Sáng" rel="bookmark" href="#">							
        </a>
          <span class="duration">03:15</span>
        </p>
        <header class="meta">
          <h3 class="title">
            <a title="Hòa Âm Ánh Sáng" rel="bookmark" href="#"> Hòa Âm Ánh Sáng </a>
          </h3>

        </header>
        <p class="uploader">
          <a title="videofly" href="#">Videofly</a>
          <span class="vf-confirm" title="Đã xác nhận">
          <i class="fa fa-check-square" aria-hidden="true"></i>
        </span>
        </p>
        <ul>
          <li class="watch-count">
            0 lượt xem
          </li>
          <li class="datetime">
            Hôm nay
          </li>
        </ul>
      </article>
      <article class="video">
        <p class="thumbnail" style="background-image: url(assets/images/thumb-larger.jpg)">
          <a title="Hòa Âm Ánh Sáng" rel="bookmark" href="#">							
        </a>
          <span class="duration">03:15</span>
        </p>
        <header class="meta">
          <h3 class="title">
            <a title="Hòa Âm Ánh Sáng" rel="bookmark" href="#"> Hòa Âm Ánh Sáng </a>
          </h3>

        </header>
        <p class="uploader">
          <a title="videofly" href="#">Videofly</a>
          <span class="vf-confirm" title="Đã xác nhận">
          <i class="fa fa-check-square" aria-hidden="true"></i>
        </span>
        </p>
        <ul>
          <li class="watch-count">
            0 lượt xem
          </li>
          <li class="datetime">
            Hôm nay
          </li>
        </ul>
      </article>
      <article class="video">
        <p class="thumbnail" style="background-image: url(assets/images/thumb-larger.jpg)">
          <a title="Hòa Âm Ánh Sáng" rel="bookmark" href="#">							
        </a>
          <span class="duration">03:15</span>
        </p>
        <header class="meta">
          <h3 class="title">
            <a title="Hòa Âm Ánh Sáng" rel="bookmark" href="#"> Hòa Âm Ánh Sáng </a>
          </h3>

        </header>
        <p class="uploader">
          <a title="videofly" href="#">Videofly</a>
          <span class="vf-confirm" title="Đã xác nhận">
          <i class="fa fa-check-square" aria-hidden="true"></i>
        </span>
        </p>
        <ul>
          <li class="watch-count">
            0 lượt xem
          </li>
          <li class="datetime">
            Hôm nay
          </li>
        </ul>
      </article>
      <article class="video">
        <p class="thumbnail" style="background-image: url(assets/images/thumb-larger.jpg)">
          <a title="Hòa Âm Ánh Sáng" rel="bookmark" href="#">							
        </a>
          <span class="duration">03:15</span>
        </p>
        <header class="meta">
          <h3 class="title">
            <a title="Hòa Âm Ánh Sáng" rel="bookmark" href="#"> Hòa Âm Ánh Sáng </a>
          </h3>

        </header>
        <p class="uploader">
          <a title="videofly" href="#">Videofly</a>
          <span class="vf-confirm" title="Đã xác nhận">
          <i class="fa fa-check-square" aria-hidden="true"></i>
        </span>
        </p>
        <ul>
          <li class="watch-count">
            0 lượt xem
          </li>
          <li class="datetime">
            Hôm nay
          </li>
        </ul>
      </article>
      <article class="video">
        <p class="thumbnail" style="background-image: url(assets/images/thumb-larger.jpg)">
          <a title="Hòa Âm Ánh Sáng" rel="bookmark" href="#">							
        </a>
          <span class="duration">03:15</span>
        </p>
        <header class="meta">
          <h3 class="title">
            <a title="Hòa Âm Ánh Sáng" rel="bookmark" href="#"> Hòa Âm Ánh Sáng </a>
          </h3>

        </header>
        <p class="uploader">
          <a title="videofly" href="#">Videofly</a>
          <span class="vf-confirm" title="Đã xác nhận">
          <i class="fa fa-check-square" aria-hidden="true"></i>
        </span>
        </p>
        <ul>
          <li class="watch-count">
            0 lượt xem
          </li>
          <li class="datetime">
            Hôm nay
          </li>
        </ul>
      </article>
      <article class="video">
        <p class="thumbnail" style="background-image: url(assets/images/thumb-larger.jpg)">
          <a title="Hòa Âm Ánh Sáng" rel="bookmark" href="#">							
        </a>
          <span class="duration">03:15</span>
        </p>
        <header class="meta">
          <h3 class="title">
            <a title="Hòa Âm Ánh Sáng" rel="bookmark" href="#"> Hòa Âm Ánh Sáng </a>
          </h3>

        </header>
        <p class="uploader">
          <a title="videofly" href="#">Videofly</a>
          <span class="vf-confirm" title="Đã xác nhận">
          <i class="fa fa-check-square" aria-hidden="true"></i>
        </span>
        </p>
        <ul>
          <li class="watch-count">
            0 lượt xem
          </li>
          <li class="datetime">
            Hôm nay
          </li>
        </ul>
      </article>
      <article class="video">
        <p class="thumbnail" style="background-image: url(assets/images/thumb-larger.jpg)">
          <a title="Hòa Âm Ánh Sáng" rel="bookmark" href="#">							
        </a>
          <span class="duration">03:15</span>
        </p>
        <header class="meta">
          <h3 class="title">
            <a title="Hòa Âm Ánh Sáng" rel="bookmark" href="#"> Hòa Âm Ánh Sáng </a>
          </h3>

        </header>
        <p class="uploader">
          <a title="videofly" href="#">Videofly</a>
          <span class="vf-confirm" title="Đã xác nhận">
          <i class="fa fa-check-square" aria-hidden="true"></i>
        </span>
        </p>
        <ul>
          <li class="watch-count">
            0 lượt xem
          </li>
          <li class="datetime">
            Hôm nay
          </li>
        </ul>
      </article>
      <article class="video">
        <p class="thumbnail" style="background-image: url(assets/images/thumb-larger.jpg)">
          <a title="Hòa Âm Ánh Sáng" rel="bookmark" href="#">							
        </a>
          <span class="duration">03:15</span>
        </p>
        <header class="meta">
          <h3 class="title">
            <a title="Hòa Âm Ánh Sáng" rel="bookmark" href="#"> Hòa Âm Ánh Sáng </a>
          </h3>

        </header>
        <p class="uploader">
          <a title="videofly" href="#">Videofly</a>
          <span class="vf-confirm" title="Đã xác nhận">
          <i class="fa fa-check-square" aria-hidden="true"></i>
        </span>
        </p>
        <ul>
          <li class="watch-count">
            0 lượt xem
          </li>
          <li class="datetime">
            Hôm nay
          </li>
        </ul>
      </article>
      <article class="video">
        <p class="thumbnail" style="background-image: url(assets/images/thumb-larger.jpg)">
          <a title="Hòa Âm Ánh Sáng" rel="bookmark" href="#">							
        </a>
          <span class="duration">03:15</span>
        </p>
        <header class="meta">
          <h3 class="title">
            <a title="Hòa Âm Ánh Sáng" rel="bookmark" href="#"> Hòa Âm Ánh Sáng </a>
          </h3>

        </header>
        <p class="uploader">
          <a title="videofly" href="#">Videofly</a>
          <span class="vf-confirm" title="Đã xác nhận">
          <i class="fa fa-check-square" aria-hidden="true"></i>
        </span>
        </p>
        <ul>
          <li class="watch-count">
            0 lượt xem
          </li>
          <li class="datetime">
            Hôm nay
          </li>
        </ul>
      </article>
      <article class="video">
        <p class="thumbnail" style="background-image: url(assets/images/thumb-larger.jpg)">
          <a title="Hòa Âm Ánh Sáng" rel="bookmark" href="#">							
        </a>
          <span class="duration">03:15</span>
        </p>
        <header class="meta">
          <h3 class="title">
            <a title="Hòa Âm Ánh Sáng" rel="bookmark" href="#"> Hòa Âm Ánh Sáng </a>
          </h3>

        </header>
        <p class="uploader">
          <a title="videofly" href="#">Videofly</a>
          <span class="vf-confirm" title="Đã xác nhận">
          <i class="fa fa-check-square" aria-hidden="true"></i>
        </span>
        </p>
        <ul>
          <li class="watch-count">
            0 lượt xem
          </li>
          <li class="datetime">
            Hôm nay
          </li>
        </ul>
      </article>
    </div>
  </div>

</aside>