<div class="subscription-container">                                    
  <button class="vf-subscription">
    <span class="vf-activity"> 
    <span class="iconFont vf-iconFladd">
    <span class="icon-webs fladdiconsm"></span>			
    </span> 
    <span class="iconFont vf-iconFldone">						 
    <span class="icon-webs doneiconsm"></span>					
    </span> 
    <span class="iconFont vf-iconFlclear">						
    <span class="icon-webs cleariconsm"></span>	
    </span> 

    <!-- <span class="iconFont vf-iconmyaccount">										
    <span class="icon-webs accounticonsm"></span>
    </span>  -->

    <span class="textFollow follow"> Theo dõi </span>
    <span class="textFollow following"> Đang theo dõi </span>
    <span class="textFollow disfollow"> Bỏ theo dõi </span>
    </span> 
  </button>
  <span class="total-subscription">99</span>
  <!-- <div class="wrapbox">
    <div class="arrow_box forgotLoginbox">
      <p class="title">Bạn chưa đăng nhập?</p>
      <p>Hãy đăng nhập để sử dụng chức năng này nhé.</p>
      <button class="btnLogin"> Đăng nhập</button>
    </div>
  </div> -->
</div>

