.wrap-section 
{
	margin-top: 20px;
	.menuSection
	{		
		font-size: 18px;
		#tab_PlaylistUpdated
		{
			color:#000;
			display: inline-block;
			font-weight: bold;
			cursor: pointer;
		}
		#tab_PlaylistAdded
		{
			color: #999;
			display: inline-block;
			cursor: pointer;
		}
		
	}
}


.wrapcontent
{
	overflow: hidden;
	app-genreitem
	{
		float: left;
		margin: 0 6px;
		margin-bottom: 12px;
		&:nth-child(3n)
		{
			margin-right: 0;
		}
		&:nth-child(3n + 1)
		{
			margin-left: 0;
		}
	}
}
