<div class="full-width internalPage  vf-genrespage ">		
  <div class="wrapcontainer">
    <div class="container">
      <div class="wrap-section vf-playlist">				
        <header class="menuSection" >
					<span id="tab_PlaylistUpdated" class="tab_Playlist vfBold vfTabPlaylistHomeMusic">Recently Updated</span> | 
					<span id="tab_PlaylistAdded" class="tab_Playlist vfTabPlaylistHomeMusic vfGray">Just Added</span>
				</header>
        <app-splaylist-slide></app-splaylist-slide>
            
      </div> <!-- wrap-section -->  
          
      <div class="wrap-section">
        <header class="menuSection" >
          <h3 class="title">Genres</h3>
        </header>
        <div class="wrapcontent">
            <app-genreitem></app-genreitem>
            <app-genreitem></app-genreitem>
            <app-genreitem></app-genreitem>
            <app-genreitem></app-genreitem>
            <app-genreitem></app-genreitem>
            <app-genreitem></app-genreitem>
            <app-genreitem></app-genreitem>
            <app-genreitem></app-genreitem>
            <app-genreitem></app-genreitem>
            <app-genreitem></app-genreitem>
            <app-genreitem></app-genreitem>
            <app-genreitem></app-genreitem>
            <app-genreitem></app-genreitem>
            <app-genreitem></app-genreitem>
            <app-genreitem></app-genreitem>
          </div>

      </div>	

      
  </div>
  
  
</div> <!-- internalPage -->