<div class="full-width internalPage  vf-genrespage genredetailpage ">
        <div class=" wrap-bannerinner wrap-bannerinnerHD">
                <div class="vf-bigbanner">					
                    <!-- <span class="artphoto" style="background-image: url('./assets/images/bannergenre.jpg')"></span> -->
                    <div class="wrap-thumbitems">
                        <span class="thumbitem" style="background-image: url('./assets/images/rock.png')"></span>
                        <span class="thumbitem" style="background-image: url('./assets/images/edm.png')"></span>
                        <span class="thumbitem" style="background-image: url('./assets/images/rock.png')"></span>
                        <span class="thumbitem" style="background-image: url('./assets/images/edm.png')"></span>
                        <span class="thumbitem" style="background-image: url('./assets/images/rock.png')"></span>
                        <span class="thumbitem" style="background-image: url('./assets/images/edm.png')"></span>
                        <span class="thumbitem" style="background-image: url('./assets/images/rock.png')"></span>
                        <span class="thumbitem" style="background-image: url('./assets/images/edm.png')"></span>
                        <span class="thumbitem" style="background-image: url('./assets/images/rock.png')"></span>
                        <span class="thumbitem" style="background-image: url('./assets/images/edm.png')"></span>
                        <span class="thumbitem" style="background-image: url('./assets/images/rock.png')"></span>
                        <span class="thumbitem" style="background-image: url('./assets/images/edm.png')"></span>
                        <span class="thumbitem" style="background-image: url('./assets/images/rock.png')"></span>
                        <span class="thumbitem" style="background-image: url('./assets/images/edm.png')"></span>
                        <span class="thumbitem" style="background-image: url('./assets/images/rock.png')"></span>
                        <span class="thumbitem" style="background-image: url('./assets/images/edm.png')"></span>
                        <span class="thumbitem" style="background-image: url('./assets/images/rock.png')"></span>
                        <span class="thumbitem" style="background-image: url('./assets/images/edm.png')"></span>
                        <span class="thumbitem" style="background-image: url('./assets/images/rock.png')"></span>
                        <span class="thumbitem" style="background-image: url('./assets/images/edm.png')"></span>
                        <span class="thumbitem" style="background-image: url('./assets/images/rock.png')"></span>
                        <span class="thumbitem" style="background-image: url('./assets/images/edm.png')"></span>
                        <span class="thumbitem" style="background-image: url('./assets/images/rock.png')"></span>
                        <span class="thumbitem" style="background-image: url('./assets/images/edm.png')"></span>
                        <span class="thumbitem" style="background-image: url('./assets/images/rock.png')"></span>
                        <span class="thumbitem" style="background-image: url('./assets/images/edm.png')"></span>
                        <span class="thumbitem" style="background-image: url('./assets/images/rock.png')"></span>
                        <span class="thumbitem" style="background-image: url('./assets/images/edm.png')"></span>
                        <span class="thumbitem" style="background-image: url('./assets/images/rock.png')"></span>
                        <span class="thumbitem" style="background-image: url('./assets/images/edm.png')"></span>
                        <span class="thumbitem" style="background-image: url('./assets/images/rock.png')"></span>
                        <span class="thumbitem" style="background-image: url('./assets/images/edm.png')"></span>
                        <span class="thumbitem" style="background-image: url('./assets/images/rock.png')"></span>
                        <span class="thumbitem" style="background-image: url('./assets/images/edm.png')"></span>
                        <span class="thumbitem" style="background-image: url('./assets/images/rock.png')"></span>
                        <span class="thumbitem" style="background-image: url('./assets/images/edm.png')"></span>	
                        <span class="thumbitem" style="background-image: url('./assets/images/rock.png')"></span>
                        <span class="thumbitem" style="background-image: url('./assets/images/edm.png')"></span>	
                        <span class="thumbitem" style="background-image: url('./assets/images/rock.png')"></span>
                        <span class="thumbitem" style="background-image: url('./assets/images/edm.png')"></span>				
                    

                    </div>
                </div>
                <div class="gradientbg"></div>
                <div class="container ">
                    <div class="wrap-boxinfo">
                        <header class="name-title"><h1 class="title">R & B</h1></header>
                        <div class="intro-box">
                            <div class="sort-desc"><p><a href="#">Bruno Mars </a> is among the flashiest, most versatile singer/songwriters in post-millennial pop. An all-around entertainer, he also plays multiple instruments, produces, and choreographs. His path to mainstream success was lengthy. After he worked a string of behind-the-scenes jobs, including writing songs for <a href="#">Brandy</a> , singing backup for <a href="#">Sugababes</a> , and impersonating Elvis Presley, he put his name on top of the Billboard Hot 100 by co-writing Flo Rida and Kesha's "Right Round." One year later, he collaborated with rapper B.o.B on "Nothin' on You" and co-wrote Travie McCoy's "Billionaire," both of which became Top Ten hits. Mars used that momentum to launch a solo career and became the first male vocalist in two decades to crack the Top Ten with his first four singles.
                            <a href="#">Bruno Mars </a> is among the flashiest, most versatile singer/songwriters in post-millennial pop. An all-around entertainer, he also plays multiple instruments, produces, and choreographs. His path to mainstream success was lengthy. After he worked a string of behind-the-scenes jobs, including writing songs for <a href="#">Brandy</a> , singing backup for <a href="#">Sugababes</a> , and impersonating Elvis Presley, he put his name on top of the Billboard Hot 100 by co-writing Flo Rida and Kesha's "Right Round." One year later, he collaborated with rapper B.o.B on "Nothin' on You" and co-wrote Travie McCoy's "Billionaire," both of which became Top Ten hits. Mars used that momentum to launch a solo career and became the first male vocalist in two decades to crack the Top Ten with his first four singles.</p>
                            </div>
                            <div class="readmore"> <a href="#"><span class="fonticons"><i class="fa fa-chevron-down" aria-hidden="true"></i></span></a> </div>						
                        </div>
                        
                    </div>
                    
                </div>
            </div>

    <div class="container">
           
        <div class="wrap-section wrap-artist">                
            <header class="menuSection">
                <h3 class="title">
                        Artist Highlights
                </h3>
                <div class="wrap-viewall absolutess">
                    <a href="#" class="showall" title="Xem tất cả"> View all <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>							
                </div>                
            </header>
            <app-sartist-slide></app-sartist-slide>

        </div>        

        <div class="wrap-section wrap-artist wrap-dayofartist">
            <header class="menuSection">
                <h3 class="title">
                    Happy Birthday Month
                </h3>
                <div class="wrap-viewall absolutess">
                    <a href="#" class="showall" title="Xem tất cả"> View all <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>							
                </div>       
                
            </header>

            <app-sartist-slide></app-sartist-slide> 
        </div>

        <div class="wrap-section vf-main-track">
                <div class="container">
                    <div class="wrap-haftsection">
                        <header class="menuSection">
                            <h3 class="title">
                                Song Highlights
                            </h3>	
                            <!-- <div class="wrap-viewall absolutess absolutess">
                                <a href="#" class="showall" title="Xem tất cả"> View all <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>						
                            </div> -->				
                        </header>
                        <div class="listvideo">							
    
                            <article class="video" >
                                <p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
                                    <a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#">										
                                    </a>
                                    <span class="duration">17:30</span>
                                    
                                </p>
                                <header class="meta">
                                    <h3 class="title">
                                        <a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#"> Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015 </a>
                                    </h3>	
                                    <p class="uploader">
                                        <a title="videofly" href="#">Video fly</a>
                                        <span class="vf-confirm" title="Đã xác nhận">
                                            <i class="fa fa-check-square" aria-hidden="true"></i>
                                        </span>
                                    </p>
                                    <ul>
                                        <li class="watch-count">
                                            3K lượt xem
                                        </li>
                                        <li class="datetime">
                                            3 ngày trước
                                        </li>
                                    </ul>						
                                </header>
                                <div class="wrapPlaynow">	                            
                                    <a href="#" title="Play"><span class="icon-webs playicon"></span></a>
                                </div>
                            </article>
    
                            <article class="video" >
                                <p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
                                    <a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#">										
                                    </a>
                                    <span class="duration">17:30</span>
                                    
                                </p>
                                <header class="meta">
                                    <h3 class="title">
                                        <a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#"> Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015 </a>
                                    </h3>	
                                    <p class="uploader">
                                        <a title="videofly" href="#">Video fly</a>
                                        <span class="vf-confirm" title="Đã xác nhận">
                                            <i class="fa fa-check-square" aria-hidden="true"></i>
                                        </span>
                                    </p>
                                    <ul>
                                        <li class="watch-count">
                                            3K lượt xem
                                        </li>
                                        <li class="datetime">
                                            3 ngày trước
                                        </li>
                                    </ul>						
                                </header>
                                <div class="wrapPlaynow">	                            
                                    <a href="#" title="Play"><span class="icon-webs playicon"></span></a>
                                </div>
                            </article>
                            <article class="video" >
                                <p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
                                    <a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#">										
                                    </a>
                                    <span class="duration">17:30</span>
                                    
                                </p>
                                <header class="meta">
                                    <h3 class="title">
                                        <a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#"> Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015 </a>
                                    </h3>	
                                    <p class="uploader">
                                        <a title="videofly" href="#">Video fly</a>
                                        <span class="vf-confirm" title="Đã xác nhận">
                                            <i class="fa fa-check-square" aria-hidden="true"></i>
                                        </span>
                                    </p>
                                    <ul>
                                        <li class="watch-count">
                                            3K lượt xem
                                        </li>
                                        <li class="datetime">
                                            3 ngày trước
                                        </li>
                                    </ul>						
                                </header>
                                <div class="wrapPlaynow">	                            
                                    <a href="#" title="Play"><span class="icon-webs playicon"></span></a>
                                </div>
                            </article>
                            <article class="video" >
                                <p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
                                    <a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#">										
                                    </a>
                                    <span class="duration">17:30</span>
                                    
                                </p>
                                <header class="meta">
                                    <h3 class="title">
                                        <a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#"> Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015 </a>
                                    </h3>	
                                    <p class="uploader">
                                        <a title="videofly" href="#">Video fly</a>
                                        <span class="vf-confirm" title="Đã xác nhận">
                                            <i class="fa fa-check-square" aria-hidden="true"></i>
                                        </span>
                                    </p>
                                    <ul>
                                        <li class="watch-count">
                                            3K lượt xem
                                        </li>
                                        <li class="datetime">
                                            3 ngày trước
                                        </li>
                                    </ul>						
                                </header>
                                <div class="wrapPlaynow">	                            
                                    <a href="#" title="Play"><span class="icon-webs playicon"></span></a>
                                </div>
                            </article>
                            <article class="video" >
                                <p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
                                    <a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#">										
                                    </a>
                                    <span class="duration">17:30</span>
                                    
                                </p>
                                <header class="meta">
                                    <h3 class="title">
                                        <a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#"> Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015 </a>
                                    </h3>	
                                    <p class="uploader">
                                        <a title="videofly" href="#">Video fly</a>
                                        <span class="vf-confirm" title="Đã xác nhận">
                                            <i class="fa fa-check-square" aria-hidden="true"></i>
                                        </span>
                                    </p>
                                    <ul>
                                        <li class="watch-count">
                                            3K lượt xem
                                        </li>
                                        <li class="datetime">
                                            3 ngày trước
                                        </li>
                                    </ul>						
                                </header>
                                <div class="wrapPlaynow">	                            
                                    <a href="#" title="Play"><span class="icon-webs playicon"></span></a>
                                </div>
                            </article>
                            <article class="video" >
                                <p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
                                    <a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#">										
                                    </a>
                                    <span class="duration">17:30</span>
                                    
                                </p>
                                <header class="meta">
                                    <h3 class="title">
                                        <a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#"> Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015 </a>
                                    </h3>	
                                    <p class="uploader">
                                        <a title="videofly" href="#">Video fly</a>
                                        <span class="vf-confirm" title="Đã xác nhận">
                                            <i class="fa fa-check-square" aria-hidden="true"></i>
                                        </span>
                                    </p>
                                    <ul>
                                        <li class="watch-count">
                                            3K lượt xem
                                        </li>
                                        <li class="datetime">
                                            3 ngày trước
                                        </li>
                                    </ul>						
                                </header>
                                <div class="wrapPlaynow">	                            
                                    <a href="#" title="Play"><span class="icon-webs playicon"></span></a>
                                </div>
                            </article>
                            <article class="video" >
                                <p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
                                    <a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#">										
                                    </a>
                                    <span class="duration">17:30</span>
                                    
                                </p>
                                <header class="meta">
                                    <h3 class="title">
                                        <a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#"> Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015 </a>
                                    </h3>	
                                    <p class="uploader">
                                        <a title="videofly" href="#">Video fly</a>
                                        <span class="vf-confirm" title="Đã xác nhận">
                                            <i class="fa fa-check-square" aria-hidden="true"></i>
                                        </span>
                                    </p>
                                    <ul>
                                        <li class="watch-count">
                                            3K lượt xem
                                        </li>
                                        <li class="datetime">
                                            3 ngày trước
                                        </li>
                                    </ul>						
                                </header>
                                <div class="wrapPlaynow">	                            
                                    <a href="#" title="Play"><span class="icon-webs playicon"></span></a>
                                </div>
                            </article>
                            <article class="video" >
                                <p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
                                    <a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#">										
                                    </a>
                                    <span class="duration">17:30</span>
                                    
                                </p>
                                <header class="meta">
                                    <h3 class="title">
                                        <a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#"> Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015 </a>
                                    </h3>	
                                    <p class="uploader">
                                        <a title="videofly" href="#">Video fly</a>
                                        <span class="vf-confirm" title="Đã xác nhận">
                                            <i class="fa fa-check-square" aria-hidden="true"></i>
                                        </span>
                                    </p>
                                    <ul>
                                        <li class="watch-count">
                                            3K lượt xem
                                        </li>
                                        <li class="datetime">
                                            3 ngày trước
                                        </li>
                                    </ul>						
                                </header>
                                <div class="wrapPlaynow">	                            
                                    <a href="#" title="Play"><span class="icon-webs playicon"></span></a>
                                </div>
                            </article>
    
                        </div>	
                    </div>
                    
                </div>
            </div>
            

        <div class="wrap-section vf-playlist">			
                <header class="menuSection">
                    <h3 class="title">
                        Playlist Highlights
                    </h3>
                    <div class="wrap-viewall absolutess">
                        <a href="#" class="showall" title="Xem tất cả"> View all <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>							
                    </div>
                </header>
                <app-splaylist-slide></app-splaylist-slide>
            </div>
    </div>
  
</div>