<div class="full-width internalPage  vf-genrespage genredetailpage ">
    <app-bannergenre></app-bannergenre>

    <div class="container">
           
        <div class="wrap-section wrap-artist">                
            <header class="menuSection">
                <h3 class="title">
                        Artist Highlights
                </h3>
                <div class="wrap-viewall absolutess">
                    <a routerLink="/am-nhac/all-artists" class="showall" title="Xem tất cả"> View all <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>							
                </div>                
            </header>
            <app-sartist-slide></app-sartist-slide>

        </div>        

        <div class="wrap-section wrap-artist wrap-dayofartist">
            <header class="menuSection">
                <h3 class="title">
                    Happy Birthday Month
                </h3>
                <div class="wrap-viewall absolutess">
                    <a routerLink="/am-nhac/all-birthdayartists" class="showall" title="Xem tất cả"> View all <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>							
                </div>       
                
            </header>

            <app-sartist-slide></app-sartist-slide> 
        </div>

        <div class="wrap-section vf-main-track">
            <div class="container">
                <div class="wrap-haftsection">
                    <header class="menuSection">
                        <h3 class="title">
                            Song Highlights
                        </h3>	
                        <!-- <div class="wrap-viewall absolutess absolutess">
                            <a href="#" class="showall" title="Xem tất cả"> View all <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>						
                        </div> -->				
                    </header>
                    
                </div>

                <app-strackvideos></app-strackvideos>
                
            </div>
        </div>
            

        <div class="wrap-section vf-playlist">			
            <header class="menuSection">
                <h3 class="title">
                    Playlist Highlights
                </h3>
                <div class="wrap-viewall absolutess">
                    <a routerLink="/am-nhac/genre-playlists" class="showall" title="Xem tất cả"> View all <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>							
                </div>
            </header>
            <app-splaylist-slide></app-splaylist-slide>
        </div>
       
                   
    </div>
  
</div>