<div class="full-width internalPage  channel-allplaylistspage">
  <div class="container">    
    <app-banneraccount></app-banneraccount>
    <div class="vf-allcategory-chanel ">
      <aside class="vf-filter-video">
        <div class="select-option-video">
          <header class="vf-wraptitle">
            <h3>Playlists</h3>
          </header>         
        </div>
        <div class="sapxep">
          <div class="wrap-selecttag">
            <select>                        
              <option value="#" selected>Sắp xếp theo thời gian (Mới nhất)</option>
              <option value="#" >Sắp xếp theo thời gian (Cũ nhất)</option>
              <option value="#" >Sắp xếp theo lượt xem</option>
            </select>
          </div>
        </div>
        <div class="clear"></div> 

      </aside>
      <div class="playlists-section">
          <app-channelplaylistitem></app-channelplaylistitem>
          <app-channelplaylistitem></app-channelplaylistitem>
          <app-channelplaylistitem></app-channelplaylistitem>
          <app-channelplaylistitem></app-channelplaylistitem>
          <app-channelplaylistitem></app-channelplaylistitem>
          <app-channelplaylistitem></app-channelplaylistitem>
          <app-channelplaylistitem></app-channelplaylistitem>
          <app-channelplaylistitem></app-channelplaylistitem>
      </div>
    </div>
  </div>
</div>