
<div class="full-width internalPage category ">
    <aside id="category-header">
      <div class="container">
        <header class="menuSection">
  
          <ul class="submenu">
            <li class="active"><a href="#">Moods & Genres</a></li>
            <li><a href="#">Dance/Electronic</a></li>
            <li><a href="#">S-UK </a></li>
            <li><a href="#">V-Pop</a></li>
            <li><a href="#"> K-Pop </a></li>
            <li><a href="#">Music Festival</a></li>
          </ul>
        </header>
      </div>
    </aside>
  
    <div class="container">
      <app-sbanner-slide></app-sbanner-slide>  

      <div class="categorySection">
          <header class="menuSection">
            <h2 class="title">
              <a title="Video mới tạo" href="#">Video mới tạo</a>
            </h2>
            <a href="#" class="viewall">Xem tất cả</a>						
          </header>
          <app-svideo></app-svideo>    
        </div>
        <div class="categorySection">
          <header class="menuSection">
            <h2 class="title">
              <a title="Video mới tạo" href="#">Kiến thức</a>
            </h2>
            <a href="#" class="viewall">Xem tất cả</a>						
          </header>
          <app-svideo></app-svideo>    
        </div>

    </div>
  </div>

