
<div class="full-width internalPage category category-special vf-genresallplaylists">
    <aside id="category-header">
      <div class="container">
        <header class="menuSection">
  
          <ul class="submenu">
            <li class="active"><a href="#">Moods & Genres</a></li>
            <li><a href="#">Dance/Electronic</a></li>
            <li><a href="#">S-UK </a></li>
            <li><a href="#">V-Pop</a></li>
            <li><a href="#"> K-Pop </a></li>
            <li><a href="#">Music Festival</a></li>
          </ul>
        </header>
      </div>
    </aside>
  
    <div class="container">
      <div class="vf-slider">
        <ul class="category-slider">
          <li><a href="#">
            <article>
              <div class="cover-slider" style="background-image: url(../assets/images/banner1.jpg)"></div>
            </article>
          </a></li>	
  
          <li><a href="#">
            <article>
              <div class="cover-slider" style="background-image: url(../assets/images/banner1.jpg)"></div>
            </article>
          </a></li>	
  
          <li><a href="#">
            <article>
              <div class="cover-slider" style="background-image: url(../assets/images/banner1.jpg)"></div>
            </article>
          </a></li>			 
        </ul>
      </div> <!-- vf-slider -->

      <div class="categorySection">
          <header class="menuSection">
            <h2 class="title">
              <a title="Video mới tạo" href="#">Video mới tạo</a>
            </h2>
            <a href="#" class="viewall">Xem tất cả</a>						
          </header>
          <div class="contentCategory">
            <ng-content select="article"></ng-content>
             
              <article class="video" >
                  <p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
                    <a title="Lorem Ipsum is simply dummy text of the printing and typesetting industry." rel="bookmark" href="#">											
                    </a>
                    <span class="duration">17:30</span>
                    
                  </p>
                  <header class="meta">
                    <h3 class="title">
                      <a title="Lorem Ipsum is simply dummy text of the printing and typesetting industry." rel="bookmark" href="#"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </a>
                    </h3>	
                    <p class="uploader">
                      <a title="videofly" href="#">Video fly</a>
                    </p>
                    <ul>
                      <li class="watch-count">
                        3K lượt xem
                      </li>
                      <li class="datetime">
                        3 ngày trước
                      </li>
                    </ul>						
                  </header>
              </article>

              <article class="video" >
                <p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
                  <a title="Lorem Ipsum is simply dummy text of the printing and typesetting industry." rel="bookmark" href="#">											
                  </a>
                  <span class="duration">17:30</span>
                  
                </p>
                <header class="meta">
                  <h3 class="title">
                    <a title="Lorem Ipsum is simply dummy text of the printing and typesetting industry." rel="bookmark" href="#"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </a>
                  </h3>	
                  <p class="uploader">
                    <a title="videofly" href="#">Video fly</a>
                  </p>
                  <ul>
                    <li class="watch-count">
                      3K lượt xem
                    </li>
                    <li class="datetime">
                      3 ngày trước
                    </li>
                  </ul>						
                </header>
            </article>


            <article class="video" >
              <p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
                <a title="Lorem Ipsum is simply dummy text of the printing and typesetting industry." rel="bookmark" href="#">											
                </a>
                <span class="duration">17:30</span>
                
              </p>
              <header class="meta">
                <h3 class="title">
                  <a title="Lorem Ipsum is simply dummy text of the printing and typesetting industry." rel="bookmark" href="#"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </a>
                </h3>	
                <p class="uploader">
                  <a title="videofly" href="#">Video fly</a>
                </p>
                <ul>
                  <li class="watch-count">
                    3K lượt xem
                  </li>
                  <li class="datetime">
                    3 ngày trước
                  </li>
                </ul>						
              </header>
          </article>

          <article class="video" >
            <p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
              <a title="Lorem Ipsum is simply dummy text of the printing and typesetting industry." rel="bookmark" href="#">											
              </a>
              <span class="duration">17:30</span>
              
            </p>
            <header class="meta">
              <h3 class="title">
                <a title="Lorem Ipsum is simply dummy text of the printing and typesetting industry." rel="bookmark" href="#"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </a>
              </h3>	
              <p class="uploader">
                <a title="videofly" href="#">Video fly</a>
              </p>
              <ul>
                <li class="watch-count">
                  3K lượt xem
                </li>
                <li class="datetime">
                  3 ngày trước
                </li>
              </ul>						
            </header>
        </article>

        <article class="video" >
          <p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
            <a title="Lorem Ipsum is simply dummy text of the printing and typesetting industry." rel="bookmark" href="#">											
            </a>
            <span class="duration">17:30</span>
            
          </p>
          <header class="meta">
            <h3 class="title">
              <a title="Lorem Ipsum is simply dummy text of the printing and typesetting industry." rel="bookmark" href="#"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </a>
            </h3>	
            <p class="uploader">
              <a title="videofly" href="#">Video fly</a>
            </p>
            <ul>
              <li class="watch-count">
                3K lượt xem
              </li>
              <li class="datetime">
                3 ngày trước
              </li>
            </ul>						
          </header>
      </article>

      <article class="video" >
        <p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
          <a title="Lorem Ipsum is simply dummy text of the printing and typesetting industry." rel="bookmark" href="#">											
          </a>
          <span class="duration">17:30</span>
          
        </p>
        <header class="meta">
          <h3 class="title">
            <a title="Lorem Ipsum is simply dummy text of the printing and typesetting industry." rel="bookmark" href="#"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </a>
          </h3>	
          <p class="uploader">
            <a title="videofly" href="#">Video fly</a>
          </p>
          <ul>
            <li class="watch-count">
              3K lượt xem
            </li>
            <li class="datetime">
              3 ngày trước
            </li>
          </ul>						
        </header>
    </article>

    <article class="video" >
      <p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
        <a title="Lorem Ipsum is simply dummy text of the printing and typesetting industry." rel="bookmark" href="#">											
        </a>
        <span class="duration">17:30</span>
        
      </p>
      <header class="meta">
        <h3 class="title">
          <a title="Lorem Ipsum is simply dummy text of the printing and typesetting industry." rel="bookmark" href="#"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </a>
        </h3>	
        <p class="uploader">
          <a title="videofly" href="#">Video fly</a>
        </p>
        <ul>
          <li class="watch-count">
            3K lượt xem
          </li>
          <li class="datetime">
            3 ngày trước
          </li>
        </ul>						
      </header>
    </article>

  <article class="video" >
    <p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
      <a title="Lorem Ipsum is simply dummy text of the printing and typesetting industry." rel="bookmark" href="#">											
      </a>
      <span class="duration">17:30</span>
      
    </p>
    <header class="meta">
      <h3 class="title">
        <a title="Lorem Ipsum is simply dummy text of the printing and typesetting industry." rel="bookmark" href="#"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </a>
      </h3>	
      <p class="uploader">
        <a title="videofly" href="#">Video fly</a>
      </p>
      <ul>
        <li class="watch-count">
          3K lượt xem
        </li>
        <li class="datetime">
          3 ngày trước
        </li>
      </ul>						
    </header>
  </article>

  <article class="video" >
    <p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
      <a title="Lorem Ipsum is simply dummy text of the printing and typesetting industry." rel="bookmark" href="#">											
      </a>
      <span class="duration">17:30</span>
      
    </p>
    <header class="meta">
      <h3 class="title">
        <a title="Lorem Ipsum is simply dummy text of the printing and typesetting industry." rel="bookmark" href="#"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </a>
      </h3>	
      <p class="uploader">
        <a title="videofly" href="#">Video fly</a>
      </p>
      <ul>
        <li class="watch-count">
          3K lượt xem
        </li>
        <li class="datetime">
          3 ngày trước
        </li>
      </ul>						
    </header>
  </article>

  <article class="video" >
    <p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
      <a title="Lorem Ipsum is simply dummy text of the printing and typesetting industry." rel="bookmark" href="#">											
      </a>
      <span class="duration">17:30</span>
      
    </p>
    <header class="meta">
      <h3 class="title">
        <a title="Lorem Ipsum is simply dummy text of the printing and typesetting industry." rel="bookmark" href="#"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </a>
      </h3>	
      <p class="uploader">
        <a title="videofly" href="#">Video fly</a>
      </p>
      <ul>
        <li class="watch-count">
          3K lượt xem
        </li>
        <li class="datetime">
          3 ngày trước
        </li>
      </ul>						
    </header>
  </article>

  <article class="video" >
    <p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
      <a title="Lorem Ipsum is simply dummy text of the printing and typesetting industry." rel="bookmark" href="#">											
      </a>
      <span class="duration">17:30</span>
      
    </p>
    <header class="meta">
      <h3 class="title">
        <a title="Lorem Ipsum is simply dummy text of the printing and typesetting industry." rel="bookmark" href="#"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </a>
      </h3>	
      <p class="uploader">
        <a title="videofly" href="#">Video fly</a>
      </p>
      <ul>
        <li class="watch-count">
          3K lượt xem
        </li>
        <li class="datetime">
          3 ngày trước
        </li>
      </ul>						
    </header>
  </article>
      
          </div>
      </div>

      <div class="categorySection">
        <header class="menuSection">
          <h2 class="title">
            <a title="Video mới tạo" href="#">Kiến thức</a>
          </h2>
          <a href="#" class="viewall">Xem tất cả</a>						
        </header>
        <div class="contentCategory">
            <article class="video" >
                <p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
                  <a title="Lorem Ipsum is simply dummy text of the printing and typesetting industry." rel="bookmark" href="#">											
                  </a>
                  <span class="duration">17:30</span>
                  
                </p>
                <header class="meta">
                  <h3 class="title">
                    <a title="Lorem Ipsum is simply dummy text of the printing and typesetting industry." rel="bookmark" href="#"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </a>
                  </h3>	
                  <p class="uploader">
                    <a title="videofly" href="#">Videofly</a>
                  </p>
                  <ul>
                    <li class="watch-count">
                      3K lượt xem
                    </li>
                    <li class="datetime">
                      3 ngày trước
                    </li>
                  </ul>						
                </header>
            </article>

            <article class="video" >
              <p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
                <a title="Lorem Ipsum is simply dummy text of the printing and typesetting industry." rel="bookmark" href="#">											
                </a>
                <span class="duration">17:30</span>
                
              </p>
              <header class="meta">
                <h3 class="title">
                  <a title="Lorem Ipsum is simply dummy text of the printing and typesetting industry." rel="bookmark" href="#"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </a>
                </h3>	
                <p class="uploader">
                  <a title="videofly" href="#">Videofly</a>
                </p>
                <ul>
                  <li class="watch-count">
                    3K lượt xem
                  </li>
                  <li class="datetime">
                    3 ngày trước
                  </li>
                </ul>						
              </header>
          </article>

          <article class="video" >
            <p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
              <a title="Lorem Ipsum is simply dummy text of the printing and typesetting industry." rel="bookmark" href="#">											
              </a>
              <span class="duration">17:30</span>
              
            </p>
            <header class="meta">
              <h3 class="title">
                <a title="Lorem Ipsum is simply dummy text of the printing and typesetting industry." rel="bookmark" href="#"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </a>
              </h3>	
              <p class="uploader">
                <a title="videofly" href="#">Videofly</a>
              </p>
              <ul>
                <li class="watch-count">
                  3K lượt xem
                </li>
                <li class="datetime">
                  3 ngày trước
                </li>
              </ul>						
            </header>
        </article>


        <article class="video" >
          <p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
            <a title="Lorem Ipsum is simply dummy text of the printing and typesetting industry." rel="bookmark" href="#">											
            </a>
            <span class="duration">17:30</span>
            
          </p>
          <header class="meta">
            <h3 class="title">
              <a title="Lorem Ipsum is simply dummy text of the printing and typesetting industry." rel="bookmark" href="#"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </a>
            </h3>	
            <p class="uploader">
              <a title="videofly" href="#">Videofly</a>
            </p>
            <ul>
              <li class="watch-count">
                3K lượt xem
              </li>
              <li class="datetime">
                3 ngày trước
              </li>
            </ul>						
          </header>
      </article>

      <article class="video" >
        <p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
          <a title="Lorem Ipsum is simply dummy text of the printing and typesetting industry." rel="bookmark" href="#">											
          </a>
          <span class="duration">17:30</span>
          
        </p>
        <header class="meta">
          <h3 class="title">
            <a title="Lorem Ipsum is simply dummy text of the printing and typesetting industry." rel="bookmark" href="#"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </a>
          </h3>	
          <p class="uploader">
            <a title="videofly" href="#">Videofly</a>
          </p>
          <ul>
            <li class="watch-count">
              3K lượt xem
            </li>
            <li class="datetime">
              3 ngày trước
            </li>
          </ul>						
        </header>
    </article>

    <article class="video" >
      <p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
        <a title="Lorem Ipsum is simply dummy text of the printing and typesetting industry." rel="bookmark" href="#">											
        </a>
        <span class="duration">17:30</span>
        
      </p>
      <header class="meta">
        <h3 class="title">
          <a title="Lorem Ipsum is simply dummy text of the printing and typesetting industry." rel="bookmark" href="#"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </a>
        </h3>	
        <p class="uploader">
          <a title="videofly" href="#">Videofly</a>
        </p>
        <ul>
          <li class="watch-count">
            3K lượt xem
          </li>
          <li class="datetime">
            3 ngày trước
          </li>
        </ul>						
      </header>
  </article>

  <article class="video" >
    <p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
      <a title="Lorem Ipsum is simply dummy text of the printing and typesetting industry." rel="bookmark" href="#">											
      </a>
      <span class="duration">17:30</span>
      
    </p>
    <header class="meta">
      <h3 class="title">
        <a title="Lorem Ipsum is simply dummy text of the printing and typesetting industry." rel="bookmark" href="#"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </a>
      </h3>	
      <p class="uploader">
        <a title="videofly" href="#">Videofly</a>
      </p>
      <ul>
        <li class="watch-count">
          3K lượt xem
        </li>
        <li class="datetime">
          3 ngày trước
        </li>
      </ul>						
    </header>
</article>

<article class="video" >
  <p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
    <a title="Lorem Ipsum is simply dummy text of the printing and typesetting industry." rel="bookmark" href="#">											
    </a>
    <span class="duration">17:30</span>
    
  </p>
  <header class="meta">
    <h3 class="title">
      <a title="Lorem Ipsum is simply dummy text of the printing and typesetting industry." rel="bookmark" href="#"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </a>
    </h3>	
    <p class="uploader">
      <a title="videofly" href="#">Videofly</a>
    </p>
    <ul>
      <li class="watch-count">
        3K lượt xem
      </li>
      <li class="datetime">
        3 ngày trước
      </li>
    </ul>						
  </header>
</article>
<article class="video" >
  <p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
    <a title="Lorem Ipsum is simply dummy text of the printing and typesetting industry." rel="bookmark" href="#">											
    </a>
    <span class="duration">17:30</span>
    
  </p>
  <header class="meta">
    <h3 class="title">
      <a title="Lorem Ipsum is simply dummy text of the printing and typesetting industry." rel="bookmark" href="#"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </a>
    </h3>	
    <p class="uploader">
      <a title="videofly" href="#">Videofly</a>
    </p>
    <ul>
      <li class="watch-count">
        3K lượt xem
      </li>
      <li class="datetime">
        3 ngày trước
      </li>
    </ul>						
  </header>
</article>


<article class="video" >
  <p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
    <a title="Lorem Ipsum is simply dummy text of the printing and typesetting industry." rel="bookmark" href="#">											
    </a>
    <span class="duration">17:30</span>
    
  </p>
  <header class="meta">
    <h3 class="title">
      <a title="Lorem Ipsum is simply dummy text of the printing and typesetting industry." rel="bookmark" href="#"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </a>
    </h3>	
    <p class="uploader">
      <a title="videofly" href="#">Videofly</a>
    </p>
    <ul>
      <li class="watch-count">
        3K lượt xem
      </li>
      <li class="datetime">
        3 ngày trước
      </li>
    </ul>						
  </header>
</article>


<article class="video" >
  <p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
    <a title="Lorem Ipsum is simply dummy text of the printing and typesetting industry." rel="bookmark" href="#">											
    </a>
    <span class="duration">17:30</span>
    
  </p>
  <header class="meta">
    <h3 class="title">
      <a title="Lorem Ipsum is simply dummy text of the printing and typesetting industry." rel="bookmark" href="#"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </a>
    </h3>	
    <p class="uploader">
      <a title="videofly" href="#">Videofly</a>
    </p>
    <ul>
      <li class="watch-count">
        3K lượt xem
      </li>
      <li class="datetime">
        3 ngày trước
      </li>
    </ul>						
  </header>
</article>

<article class="video" >
  <p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
    <a title="Lorem Ipsum is simply dummy text of the printing and typesetting industry." rel="bookmark" href="#">											
    </a>
    <span class="duration">17:30</span>
    
  </p>
  <header class="meta">
    <h3 class="title">
      <a title="Lorem Ipsum is simply dummy text of the printing and typesetting industry." rel="bookmark" href="#"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </a>
    </h3>	
    <p class="uploader">
      <a title="videofly" href="#">Videofly</a>
    </p>
    <ul>
      <li class="watch-count">
        3K lượt xem
      </li>
      <li class="datetime">
        3 ngày trước
      </li>
    </ul>						
  </header>
</article>


    
        </div>
    </div>
  </div>

