<article class="videoPlaylist" >
    <p class="thumbnail" style="background-image: url(../assets/images/demo.png)">
      <a title="Lorem Ipsum is simply dummy text of the printing and typesetting industry" rel="bookmark" href="#">		
        <span class="playitems">
          <span class="icon-webs playicon"></span>								
        </span>								
      </a>
    </p>	
    <header class="wraptitle">
      <h3 class="titletoppic">
        <a href="#">Giong hat Viet nam 2016 season 1 Giong hat Viet nam 2016 season 1</a> 		
      </h3>
      <h4 class="update-time">Cập nhật: 3 ngày trước</h4>
    </header> 																	
  </article>