<footer id="footer">
  <div class="container">
    <p class="logo">
      <a title="VideoFly.vn" href="#homepage">
        <img alt="VideoFly.vn" src="assets/images/logovideofly.png">
      </a>
    </p>
    <div class="copyright">
      <header class="vf-company">
        <h3 class="title">Công ty TNHH Contentnet</h3>
      </header>
      <p>Lầu 11, tòa nhà HDTC, số 36 Bùi Thị Xuân, P. Bến Thành, Q. 1, TP. HCM</p>
      <p>Giấy phép Mạng Xã Hội số 486/GP-BTTTT do Bộ Thông Tin và Truyền Thông cấp ngày 23/09/2015</p>
      <ul class="contactus">
        <li><span class="fonticons"> <span class="icon-call-in"></span> </span>08.3925.6524</li>
        <li><span class="fonticons"> <span class="icon-printer"></span> </span>08.3925.6754</li>
        <li> <a target="_top" href="mailto:info@contentnet.com.vn"> <span class="fonticons"> <span class="icon-envelope"></span></span> info@contentnet.com.vn</a></li>
      </ul>

      <div class="wrap-videoflyapp">
        <div class="like-us-onfb">
          <a href="#" class="likeonfbbtn">
            <img src="assets/images/find-us-on-facebook.svg" title="facebook">
          </a>
        </div>
        <a title="Tải phiên bản ios" class="videofly-ios" href="https://itunes.apple.com/us/app/videofly/id1081257854?mt=8"> 	<img src="assets/images/app-ios-logo.png" title="Tải phiên bản ios"></a>
        <a title="Tải phiên bản adroid" class="videofly-ios" href="https://play.google.com/store/apps/details?id=vn.com.videofly.videofly"> <img src="assets/images/app-adroid-logo.png" title="Tải phiên bản adroid"/></a>
      </div>

    </div>
  </div>
</footer>