<div class="vf-list-channel">
    <ul class="channelslider">
      <li>
        <app-channelitem></app-channelitem>
      </li>
      <li>
        <app-channelitem></app-channelitem>
      </li>
      <li>
        <app-channelitem></app-channelitem>
      </li>
      <li>
        <app-channelitem></app-channelitem>
      </li>  
      <li>
        <app-channelitem></app-channelitem>
      </li>
      <li>
        <app-channelitem></app-channelitem>
      </li>
      <li>
        <app-channelitem></app-channelitem>
      </li>
      <li>
        <app-channelitem></app-channelitem>
      </li>  
      <li>
        <app-channelitem></app-channelitem>
      </li>
      <li>
        <app-channelitem></app-channelitem>
      </li>
      <li>
        <app-channelitem></app-channelitem>
      </li>
      <li>
        <app-channelitem></app-channelitem>
      </li>     
    </ul>
  </div>
  