<div class="full-width internalPage  pagechannel">
  <div class="container">    
    <app-banneraccount></app-banneraccount>
 
    <div class="vf-newvideo-channel">
      <article class="newvideoitem" >
          <p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
            <a title="Liên khúc (ABBA) - Mỹ Tâm ft Đức Phúc | LiveShow Chung Kết | Giọng Hát Việt 2015 (Season 3) " rel="bookmark" href="#">					
            </a>
            
            
          </p>
          <header class="meta">
            <h3 class="title">
              <a title="Liên khúc (ABBA) - Mỹ Tâm ft Đức Phúc | LiveShow Chung Kết | Giọng Hát Việt 2015 (Season 3) " rel="bookmark" href="#"> Liên khúc (ABBA) - Mỹ Tâm ft Đức Phúc | LiveShow Chung Kết | Giọng Hát Việt 2015 (Season 3) </a>
            </h3>	
           
            <ul class="watchedandtime">
              <li class="watch-count">
                3.000.000 lượt xem
              </li>
              <li class="datetime">
                3 ngày trước
              </li>
            </ul>						
          </header>
          <p class="desc-ct">Giọng Hát Việt là một cuộc thi tìm kiếm tài năng, tạo cơ hội cho những người đam mê ca hát tỏa sáng trên sân khấu biểu diễn chuyên nghiệp. Không có bất kì một ngôi sao nào thành công mà không có tài năng và sự khổ luyện. Vì vậy, tất cả các thí sinh tham gia chương trình sẽ phải trải qua rất nhiều thử thách để có thể đạt được ngôi vị cao nhất. Đó là những người có khả năng thực sự và hội tụ những yếu tố đủ để theo đuổi con đường							
          </p>
          <a class="vf-viewall">Xem thêm</a>
        </article>
    </div>

    <div class="vf-listshow-channel">
      <div class="orderrow-box">
        <button class="down-btn" title="Chuyển xuống"><i class="fa fa-chevron-down" aria-hidden="true"></i></button>
      </div>
      <header class="vf-wraptitle">
        <h2> 
          <a href="#">Đồng hành cùng giọng hát Việt - Season 6</a> 
          <a class="play-all" href="#" title="Play"><i class="fa fa-play-circle" aria-hidden="true"></i>Xem tất cả</a>
        </h2>

        <p class="desc">Sau một hành trình dài với nhiều dấu ấn, Giọng hát Việt mùa thứ 3 đã chính thức bước vào đêm Gala trao giải cuối cùng và tìm ra được tài năng âm nhạc xuất sắc nhất với ngôi vị Quán quân </p>
      </header>	
      <app-svideo-slide></app-svideo-slide>			
    </div>

    <div class="vf-wrrelated-channel">
      <div class="orderrow-box">
        <button class="down-btn" title="Chuyển xuống"><i class="fa fa-chevron-down" aria-hidden="true"></i></button>
        <button class="up-btn" title="Chuyển lên"><i class="fa fa-chevron-up" aria-hidden="true"></i></button>
      </div>
      <header class="vf-wraptitle">
        <h2>Thảm họa The Voice 2016</h2>
        <p class="desc">Thảm họa Việt Nam Idol 2015 cười té ghế với thí sinh ================= Chương trình "Thần tượng Âm nhạc - Vietnam Idol" là một chương trình Truyền hình Thực tế sinh động, được "Việt hóa" từ chương trình giải trí truyền hình...</p>
        <!-- <a class="vf-viewall">Xem tất cả</a> -->
      </header>     
      <app-strackvideos></app-strackvideos>
    </div>

    <div class="vf-allcategory-channel">
      <div class="orderrow-box">
        <!-- <button class="down-btn" title="Xuống hàng"><i class="fa fa-chevron-down" aria-hidden="true"></i></button> -->
        <button class="up-btn" title="Chuyển lên"><i class="fa fa-chevron-up" aria-hidden="true"></i></button>
      </div>
      <header class="vf-wraptitle">
        <h2>Danh sách đã tạo</h2>
        <!-- <a class="vf-viewall">Xem tất cả</a>	 -->				
      </header>
      <div class="list-playlists">
       <app-channelplaylistitem></app-channelplaylistitem>
       <app-channelplaylistitem></app-channelplaylistitem>
       <app-channelplaylistitem></app-channelplaylistitem>
       <app-channelplaylistitem></app-channelplaylistitem>
       <app-channelplaylistitem></app-channelplaylistitem>
       <app-channelplaylistitem></app-channelplaylistitem>
       
      </div>
    </div>	

    
          

  </div> <!-- container -->
</div> <!-- home-page -->