<article class="video" >
  <p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
    <a title="Lorem Ipsum is simply dummy text of the printing and typesetting industry." rel="bookmark" href="#">	
        <!-- <span class="vf-vietsub"><span> <span class="icon-webs vietsubbg">Viet sub</span></span></span>										 -->
    </a>
    <span class="duration">17:30</span>
    
  </p>
  <header class="meta">
    <h3 class="title">
      <a title="Lorem Ipsum is simply dummy text of the printing and typesetting industry." rel="bookmark" href="#"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </a>
    </h3>	
    <p class="uploader">
      <a title="videofly" href="#">Video fly</a>
    </p>
    <ul>
      <li class="watch-count">
        3K lượt xem
      </li>
      <li class="datetime">
        3 ngày trước
      </li>
    </ul>						
  </header>
  <div class="wrapPlaynow">	                            
    <a href="#" title="Play"><span class="icon-webs playicon"></span></a>
</div>
</article>