<article class="artist-item">						
    <div class="wrap-thumb">
      <p class="thumbnail" style="background-image:url(./assets/images/adele.png) ">
        <a routerLink="/am-nhac/artist-detail" title="Adele" ></a></p> 
      <button class="vf-followplbtn" title="Theo dõi nghệ sĩ">
        <span class=" followpl-icon">
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
        </span> 	
      </button> 
    </div>							
    <div class="wrap-title">
      <header><h3 class="title">
        <a routerLink="/am-nhac/artist-detail">Adele
            <span class="art-birthday">Dec 13th, 1989</span>
          </a> 
      </h3></header>
      <p class="totalAlbums"><a href="#"> 5 albums</a></p>
      <p class="rating">
        <span class="fullstar fonticons"><i class="fa fa-star" aria-hidden="true"></i></span>
        <span class="fullstar fonticons"><i class="fa fa-star" aria-hidden="true"></i></span>
        <span class="halfstar fonticons"><i class="fa fa-star-half-o" aria-hidden="true"></i></span>
        <span class="emptystar fonticons"><i class="fa fa-star-o" aria-hidden="true"></i></span>
        <span class="emptystar fonticons"><i class="fa fa-star-o" aria-hidden="true"></i></span>
      </p> 	
    </div>						
  
  </article>