// @import '../../../../../styles.scss';
@import '../../../../../assets/css/partial/_setting.scss';

.artist-item
{
	width: 196px;
	height: 256px;
	border:1px solid #ededed;	
	position: relative;
	
	.wrap-thumb
	{
		border-bottom: 1px solid #ededed;
		.thumbnail 
		{
			background-size: cover;
			background-position: 50% 50%;
			width: 100%;
			height: 196px;
			display: block;
			position: relative;		
			a 
			{
				display: block;
				width: 100%;
				height: 100%;
				background-color: transparent;
				-webkit-transition: background 0.3s;
				-moz-transition: background 0.3s;
				-ms-transition: background 0.3s;
				-o-transition: background 0.3s;
				transition: background 0.3s;
	
				&:hover 
				{
					background-color: rgba(0, 0, 0, 0.4);
				}
			}		
			
		}
		.vf-followplbtn
		{
			opacity: 0;
			-webkit-transition: opacity 0.3s;
			-moz-transition: opacity 0.3s;
			-ms-transition: opacity 0.3s;
			-o-transition: opacity 0.3s;
			transition: opacity 0.3s;

		}
		&:hover 
		{
			.vf-followplbtn
			{
				opacity: 1;
			}
		}
	}
	.wrap-title
	{
		padding: 10px;
		.title 
		{
			@include styleText(#1e1e1e, 15px);
			font-weight: 600;						
			a 
			{
				@include styleText(#1e1e1e, 15px);
				white-space: nowrap;
				overflow: hidden;
    			text-overflow: ellipsis;
    			display: block; 

				&:hover 
				{
					color: #eb4335;
					text-decoration: none;
				}
				.art-birthday
				{
					@include styleText(#ffffff, 0);
					font-style: italic;
					text-align: center;
					display: block;
					font-weight: normal;					
					-webkit-transition: font-size 0.2s;
					-moz-transition: font-size 0.2s;
					-ms-transition: font-size 0.2s;
					-o-transition: font-size 0.2s;
					transition: font-size 0.2s;

				}
			}
		}
		.totalAlbums
		{
			@include styleText(#666666, 14px);	
			display: none; 					
			&:hover 
			{
				text-decoration: none;
			}
		}

		.rating 
		{
			margin-top: 5px;
		}
	}
	&:hover 
	{
		.wrap-title .title a 
		{
			color: #eb4335;
		}
	}
}
