<div id="home-page" class="wrapper full-width">
  <div class="container">
    <div class="section newListvideo">
      <article class="videoPlaylist vf-suggest-playlist" >
        <div class="big-thumbnail" style="background-image: url(../assets/images/Dinner.jpg)" >							
          <a title="Today top hits" rel="bookmark" routerLink="am-nhac">	

          </a>
        </div>
        <p class="thumbnail" style="background-image: url(../assets/images/Dinner.jpg)">
          <a title="Today top hits" rel="bookmark" routerLink="am-nhac">	
            <span class="playitems">
              <span class="icon-webs playicon"></span>								
            </span>												
          </a>						
          <span class="videoTotal">999 video</span>
        </p>
        <div class="vf-intro-playlist">						
          <div class="wrap-table">
            <div class="wrap">
              <a class="link-playlist" href="#"></a>	

              <header class="meta">
                <h3 class="title">
                  <a title="Today top hits" rel="bookmark" routerLink="am-nhac">Những kẻ lắm lời</a>
                </h3>
                                    
              </header>
              <div class="vf-desc-playlist">
                <a href="#">Đàm tiếu về những sự kiện nóng hổi trong showbiz Việt một cách chân thật thẳng thắn nhưng cũng rất hài hước.
Nội dung thường xoay quanh những sự kiện nổi bật trong showbiz, phát ngôn ấn tượng của một ai đó, một bộ trang phục mới của sao Việt hoặc một bộ phim mới ra rạp. Thùy Minh, Lê Minh Ngọc và Nguyễn Ngọc Thạch công khai bày tỏ quan điểm của mình thông qua cách nhìn nhận hài hước, hay nói đúng hơn</a>
                
              </div>
              
            </div>
            
          </div>
          
        </div>			
        
      </article>

      <app-videoitem></app-videoitem>
      <app-videoitem></app-videoitem>
      <app-videoitem></app-videoitem>
      <app-videoitem></app-videoitem>
      <app-videoitem></app-videoitem>
      <app-videoitem></app-videoitem>

      
    </div> <!-- newListvideo -->	

    <div class="sectioncontent vf-following-playlist ">
        <header class="menuSection">
          <h2 class="title">
            <a href="#">Playlist theo dõi</a> 
          </h2>
        </header>
        <ul class="bxslider">
          <li>
            <app-playlistitem></app-playlistitem>
          </li>
          <li>
              <app-playlistitem></app-playlistitem>
          </li>
          <li>
            <app-playlistitem></app-playlistitem>
          </li>
          <li>
              <app-playlistitem></app-playlistitem>
            </li>
            <li>
              <app-playlistitem></app-playlistitem>
            </li>
            <li>
                <app-playlistitem></app-playlistitem>
              </li>
          
        </ul>

            
      </div> <!-- sectioncontent -->		

    <div class=" sectioncontent ">
      <header class="menuSection">
        <h2 class="title">
          <a title="GIẢI TRÍ" href="#">Âm nhạc</a>
        </h2>        
      </header>
     
      <app-splaylist></app-splaylist>
      

    </div><!-- section -->



    <div class=" sectioncontent listVideos ">
      <header class="menuSection">
        <h2 class="title">
          <a title="Xe" href="#">XE</a>
        </h2>					
      </header>

      <app-svideo></app-svideo>
    </div><!-- section -->

    <div class=" sectioncontent newsSection">
        <header class="menuSection">
          <h2 class="title">
            <a title="GIẢI TRÍ" href="#">Tin tức</a>
          </h2>        
        </header>
       
        <app-splaylist></app-splaylist>
        
  
      </div><!-- section -->

  </div> <!-- container -->

  <!-- <script src="../assets/js/jquery.bxslider.min.js"></script>
  <script type="text/javascript">  
    $(document).ready(function()
    {
       alert("abc");
      // $(' #home-page .sectioncontent .bxslider').bxSlider({
      //   minSlides: 1,
      //   maxSlides: 6,
      //   slideWidth: 196,
      //   slideMargin: 12,
      //   auto: false,
      //   speed: 3000,
      //   moveSlides: 4,
      //   // infiniteLoop: true
      // });
    });
  </script> -->
</div> <!-- home-page -->