@import '../../../styles.scss';
#home-page
{	
	padding-top: 20px;
	/* class chung */
	.bx-wrapper .bx-loading
	{
		display: $display-none;
	}

	.loading 
	{
		height: 426px;
		line-height: 426px;
		text-align: center;
		img 
		{
			margin: 0 auto;
		}
	}	 

	::ng-deep 
	{
		.playlistitems
		{
			width: 196px;
			height: 196px;		
			.meta
			{
				position: $position-absolute;
				left: 0;
				width: 100%;
				padding: 15px 5px 5px;
				bottom:0;	
				margin: 0;
				.title
				{
					z-index: 100;	
					display: block;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					text-shadow: 1px 1px 3px #000;	
					font-weight: bold;
					line-height: 16px;
					@include styleText(#ffffff, 15px);
					a 
					{
						z-index: 100;	
						display: block;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						text-shadow: 1px 1px 3px #000;	
						font-weight: bold;
						line-height: 16px;
						@include styleText(#ffffff, 15px);
					}
					
				}
			}
			.uploader, .desc-intro
			{
				display: none;
			}
			>ul 
			{
				display: none;
			}
		}
	}

	/* section 1 */
	.newListvideo 
	{
		overflow: $overflow-hidden;
		border-bottom: 1px solid #e4e4e4;
		margin-bottom: 20px;
		.vf-suggest-playlist
		{
			float: left;
			overflow: hidden;
			position: relative;			
			margin: 0 5px;
			margin-bottom: 10px;
			@include sizeVideo(612px, 344px);
			margin-left: 0;	
			.big-thumbnail
			{
				display: block;				
				width: 100%;
				height: 100%;				
				background-size: cover;
				background-position: 50% 50%;
				-webkit-filter: blur(2px);
				-moz-filter: blur(2px);
				-ms-filter: blur(2px);
				-o-filter: blur(2px);
				filter: blur(2px);
				// opacity: 0.9;
				background-color: #f9d6e9;
				a 
				{
					background: rgba(0,0,0,0.5);
					width: 100%;
					height: 100%;
					display: block;					
				}

			}
			.thumbnail
			{
				@include sizeVideo(235px !important, 235px !important) ;				
				position: absolute;
				top:0;
				bottom: 0;
				left: 60px;
				margin: auto;
				background-position: 50% 50%;
				background-repeat: no-repeat;
				background-size: cover;
				display: block;
				a  
				{
					display: block;
					height: 100%;
					width: 100%;
				}
				&:hover 
				{
					a .playitems
					{
						opacity: 1;
					}
				}
				.videoTotal
				{
					display: none;
				}
				
			}
			.vf-intro-playlist
			{
				position: absolute;
				top:0;
				right: 60px;
				width: 196px;
				height: 100%;
				text-align: center;
				
				.wrap-table
				{
					display: table;
					width: 100%;
					height: 100%;
					position: relative;									
					.wrap 
					{
						display: table-cell;
						vertical-align: middle;
						position: relative;
						 > * 
						 {
						 	position: relative;	
							z-index: 2;	
						 }
						 a.link-playlist 
						{
							position: absolute;
							top:0;
							left: 0;
							display: block;
							height: 100%;
							width: 100%;
							z-index: 1;
						}
					}
				}
				.meta 
				{
					margin-bottom: 15px;
					.title 
					{
						text-align: center;
						max-height: 40px;
						overflow: hidden;
						a 
						{
							@include styleText(#ffffff, 18px);
							text-align: center;
							text-transform: uppercase;	
							line-height: 20px;
							&:hover 
							{
								text-decoration: none;
								color: yellow;
							}										
						}
					}
					a 
					{
						text-decoration: none !important;
						&:hover 
						{
							text-decoration: none;
							.type-category
							{
								color: yellow;
							}
						}
						.type-category
						{
							font-weight: bold;
							@include styleText(#ffffff, 14px);
						}	
					}
					
				}
				.vf-desc-playlist
				{
					@include styleText(#ffffff, 16px);	
					line-height: 20px;
					text-align: center;
					max-height: 100px;
					overflow: hidden;	
					margin-bottom: 20px;	
					*
					{
						@include styleText(#ffffff, 16px);
						line-height: 20px;	
					}		
					a:hover 
					{
						text-decoration: none;
					}
				}
				.vf-explication
				{
					@include styleText(#ffffff, 12px);
					font-weight: bold;
					margin: 0 auto;

				}
			}
		}
		app-videoitem 
		{
			float: left;
			margin: 0 6px;
			margin-bottom: 10px;
			&:nth-child(4), &:nth-child(7)  
			{
				margin-right: 0;
			}
			&:nth-child(n+8) 
			{
				display: $display-none;
			}
			::ng-deep
			{
				.video 
				{
					float: none;
					margin: 0;
					.meta 
					{				
						.title 
						{
							a 
							{
								color: #2b2b2b;						
							}
						}				
					}
					.desc-ct
					{
						display: none;
					}	
				}
			}
			
			
			
						
		}
		

	}
	.vf-following-playlist.sectioncontent
	{
		border: none;
		margin-top: 30px;
		overflow: inherit;	
		::ng-deep
		{
			.bx-wrapper
			{
				margin-left: 0;
				 .bx-prev
				{
					left: -24px;
				}
				 .bx-next
				{
					right: -32px;
				}
			}	
			
		}
		
		.menuSection
		{
			.title 
			{
				font-size: 16px;
				color: #eb4335;
				a 
				{
					color: #707378;
					font-size: 22px;
					font-family: Arial;
					text-align: left;
					display: block;
				}
			}
		}
		
	}
	
	.transportSection
	{
		border-bottom: none;
		padding-bottom: 23px;		
	}

	/* slides home */
	.hotchanelSection
	{
		.hotPlaylistvideo
		{
			min-height: 108px;
			.bx-wrapper
			{
				max-width: 1250px !important;
				.bx-pager
				{
					display: $display-none;					
				}
				.bx-prev 
				{
					left: -30px;
				}
				.bx-next
				{
					right: -30px;
				}
			} 
			.bxslider
			{
				li 
				{
					//margin-right: 16px;
				}
			}
		}
	}	

	.sectioncontent
	{
		&.newsSection
		{
			::ng-deep
			{
				.playlistitems
				{
					.update-time 
					{
						display: block;
						@include styleText(#bbbdc1, 12px);
						font-weight: normal;
						z-index: 100;
						display: block;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						text-shadow: 1px 1px 3px #000;
						font-weight: normal;
					
					}
				}
			}

		}
	
	} 

	

	
}