header.menuSection {
    margin-bottom: 15px;
    padding-bottom: 8px;
    border-bottom: 1px solid #cccccc;
    .title 
    {
        font-size: 18px;
        margin-bottom: 0;
        a 
        {
            font-size: 18px;
        }
    }
}