<div class="internalPage vf-communityPage">
	
		<div class="container">
			<div class="vf-slider">
				<ul class="community-slider">
				  <li><a href="#">
					  <article>
					  	<div class="cover-slider" style="background-image: url(../assets/images/banner1.jpg)"></div>
					  </article>
				  </a></li>	

				  <li><a href="#">
					  <article>
					  	<div class="cover-slider" style="background-image: url(../assets/images/banner1.jpg)"></div>
					  </article>
				  </a></li>	

				  <li><a href="#">
					  <article>
					  	<div class="cover-slider" style="background-image: url(../assets/images/banner1.jpg)"></div>
					  </article>
				  </a></li>			 
				</ul>
			</div> <!-- vf-slider -->

			<div class="section sectioncontent listVideo ">
				<header class="menuSection">
					<h2 class="title">
						<a title="Xe" href="#">Trending</a>
					</h2>					
				</header>

				<div class="listvideo">
					<article class="video" >
						<p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
							<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#">
								
							</a>
							<span class="duration">17:30</span>
							
						</p>
						<header class="meta">
							<h3 class="title">
								<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#"> Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015 </a>
							</h3>	
							<p class="uploader">
							<a title="videofly" href="#">Video fly</a>
							</p>
							<ul>
								<li class="watch-count">
									3K lượt xem
								</li>
								<li class="datetime">
									3 ngày trước
								</li>
							</ul>						
						</header>
					</article>
					<article class="video" >
						<p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
							<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#">
								
							</a>
							<span class="duration">17:30</span>
							
						</p>
						<header class="meta">
							<h3 class="title">
								<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#"> Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015 </a>
							</h3>	
							<p class="uploader">
							<a title="videofly" href="#">Video fly</a>
							</p>
							<ul>
								<li class="watch-count">
									3K lượt xem
								</li>
								<li class="datetime">
									3 ngày trước
								</li>
							</ul>						
						</header>
					</article>
					<article class="video" >
						<p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
							<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#">
								
							</a>
							<span class="duration">17:30</span>
							
						</p>
						<header class="meta">
							<h3 class="title">
								<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#"> Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015 </a>
							</h3>	
							<p class="uploader">
							<a title="videofly" href="#">Video fly</a>
							</p>
							<ul>
								<li class="watch-count">
									3K lượt xem
								</li>
								<li class="datetime">
									3 ngày trước
								</li>
							</ul>						
						</header>
					</article>
					<article class="video" >
						<p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
							<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#">
								
							</a>
							<span class="duration">17:30</span>
							
						</p>
						<header class="meta">
							<h3 class="title">
								<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#"> Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015 </a>
							</h3>	
							<p class="uploader">
							<a title="videofly" href="#">Video fly</a>
							</p>
							<ul>
								<li class="watch-count">
									3K lượt xem
								</li>
								<li class="datetime">
									3 ngày trước
								</li>
							</ul>						
						</header>
					</article>
					<article class="video" >
						<p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
							<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#">
								
							</a>
							<span class="duration">17:30</span>
							
						</p>
						<header class="meta">
							<h3 class="title">
								<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#"> Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015 </a>
							</h3>	
							<p class="uploader">
							<a title="videofly" href="#">Video fly</a>
							</p>
							<ul>
								<li class="watch-count">
									3K lượt xem
								</li>
								<li class="datetime">
									3 ngày trước
								</li>
							</ul>						
						</header>
					</article>
					<article class="video" >
						<p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
							<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#">
								
							</a>
							<span class="duration">17:30</span>							
						</p>
						<header class="meta">
							<h3 class="title">
								<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#"> Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015 </a>
							</h3>	
							<p class="uploader">
							<a title="videofly" href="#">Video fly</a>
							</p>
							<ul>
								<li class="watch-count">
									3K lượt xem
								</li>
								<li class="datetime">
									3 ngày trước
								</li>
							</ul>						
						</header>
					</article>
					<article class="video" >
						<p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
							<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#">
								
							</a>
							<span class="duration">17:30</span>
							
						</p>
						<header class="meta">
							<h3 class="title">
								<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#"> Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015 </a>
							</h3>	
							<p class="uploader">
							<a title="videofly" href="#">Video fly</a>
							</p>
							<ul>
								<li class="watch-count">
									3K lượt xem
								</li>
								<li class="datetime">
									3 ngày trước
								</li>
							</ul>						
						</header>
					</article>
					<article class="video" >
						<p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
							<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#">
								
							</a>
							<span class="duration">17:30</span>
							
						</p>
						<header class="meta">
							<h3 class="title">
								<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#"> Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015 </a>
							</h3>	
							<p class="uploader">
							<a title="videofly" href="#">Video fly</a>
							</p>
							<ul>
								<li class="watch-count">
									3K lượt xem
								</li>
								<li class="datetime">
									3 ngày trước
								</li>
							</ul>						
						</header>
					</article>
					<article class="video" >
						<p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
							<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#">
								
							</a>
							<span class="duration">17:30</span>
							
						</p>
						<header class="meta">
							<h3 class="title">
								<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#"> Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015 </a>
							</h3>	
							<p class="uploader">
							<a title="videofly" href="#">Video fly</a>
							</p>
							<ul>
								<li class="watch-count">
									3K lượt xem
								</li>
								<li class="datetime">
									3 ngày trước
								</li>
							</ul>						
						</header>
					</article>
					<article class="video" >
						<p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
							<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#">
								
							</a>
							<span class="duration">17:30</span>
							
						</p>
						<header class="meta">
							<h3 class="title">
								<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#"> Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015 </a>
							</h3>	
							<p class="uploader">
							<a title="videofly" href="#">Video fly</a>
							</p>
							<ul>
								<li class="watch-count">
									3K lượt xem
								</li>
								<li class="datetime">
									3 ngày trước
								</li>
							</ul>						
						</header>
					</article>
					<article class="video" >
						<p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
							<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#">
								
							</a>
							<span class="duration">17:30</span>
							
						</p>
						<header class="meta">
							<h3 class="title">
								<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#"> Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015 </a>
							</h3>	
							<p class="uploader">
							<a title="videofly" href="#">Video fly</a>
							</p>
							<ul>
								<li class="watch-count">
									3K lượt xem
								</li>
								<li class="datetime">
									3 ngày trước
								</li>
							</ul>						
						</header>
					</article>

					<article class="video" >
						<p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
							<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#">
								
							</a>
							<span class="duration">17:30</span>
							
						</p>
						<header class="meta">
							<h3 class="title">
								<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#"> Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015 </a>
							</h3>	
							<p class="uploader">
							<a title="videofly" href="#">Video fly</a>
							</p>
							<ul>
								<li class="watch-count">
									3K lượt xem
								</li>
								<li class="datetime">
									3 ngày trước
								</li>
							</ul>						
						</header>
					</article>

					<article class="video" >
						<p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
							<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#">
								
							</a>
							<span class="duration">17:30</span>
							
						</p>
						<header class="meta">
							<h3 class="title">
								<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#"> Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015 </a>
							</h3>	
							<p class="uploader">
							<a title="videofly" href="#">Video fly</a>
							</p>
							<ul>
								<li class="watch-count">
									3K lượt xem
								</li>
								<li class="datetime">
									3 ngày trước
								</li>
							</ul>						
						</header>
					</article>

					<article class="video" >
						<p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
							<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#">
								
							</a>
							<span class="duration">17:30</span>
							
						</p>
						<header class="meta">
							<h3 class="title">
								<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#"> Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015 </a>
							</h3>	
							<p class="uploader">
							<a title="videofly" href="#">Video fly</a>
							</p>
							<ul>
								<li class="watch-count">
									3K lượt xem
								</li>
								<li class="datetime">
									3 ngày trước
								</li>
							</ul>						
						</header>
					</article>
				</div> <!-- listvideo -->
			</div><!-- section -->

			<div class="section  vf-playlist-suggest">
				<header class="menuSection">
					<h3 class="title">
						<a href="#" title="Mới cập nhật">Playlist đề cử</a>	
					</h3>					
				</header>

				<div class="listvideo playlist-slides">
					<ul class="bxslider">
					 <li>					 	
						<article class="video videoPlaylist" >
							<p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
								<a title="Weekend Buzz" rel="bookmark" href="#">			
								</a>
								<span class="playitems">
									<span class="icon-webs playicon"></span>								
								</span>	
								<button class="vf-followplbtn" title="Theo dõi playlist">
									<span class=" followpl-icon">
											<i class="fa fa-star-o" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
									</span> 	
									</button>
									<script type="text/javascript">
										$(function()
										{
											$(".vf-followplbtn").click(function()
											{
												if($(this).hasClass("active"))
												{
													$(this).removeClass("active");	
													$(this).attr("title", "Theo dõi playlist")									
												}
												else 
												{
													$(this).addClass("active");
													$(this).attr("title", "Bỏ theo dõi playlist");
												}
											});

										});
									</script>														
							</p>
							<header class="meta">
								<h3 class="title">
									<a title="Weekend Buzz" rel="bookmark" href="#"> test </a>
								</h3>												
							</header>
							<p class="desc-intro">Cựu tiền vệ HAGL vẫn như không tin khi được khoác chiếc áo của CLB danh tiếng Incheon United, Hàn Quốc.</p>
							<ul>
								<li title="Số video" class="videoTotal">
									<span class="arrow-right"></span>
									23
								</li>
								<li title="Lượt xem" class="watch-count">
									<span class="icon-webs viewicon"></span>
									3.000.000 
								</li>
							</ul>
						</article>
					 </li>

					  <li>					 	
						<article class="video videoPlaylist" >
							<p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
								<a title="Weekend Buzz" rel="bookmark" href="#">			
								</a>
								<span class="playitems">
									<span class="icon-webs playicon"></span>							
								</span>	
								<button class="vf-followplbtn" title="Theo dõi playlist">
								<span class=" followpl-icon">
										<i class="fa fa-star-o" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
								</span> 	
								</button>														
							</p>
							<header class="meta">
								<h3 class="title">
									<a title="Weekend Buzz" rel="bookmark" href="#"> Weekend Buzz</a>
								</h3>												
							</header>
							<p class="desc-intro">Cựu tiền vệ HAGL vẫn như không tin khi được khoác chiếc áo của CLB danh tiếng Incheon United, Hàn Quốc.</p>
							<ul>
								<li title="Số video" class="videoTotal">
									<span class="arrow-right"></span>
									23
								</li>
								<li title="Lượt xem" class="watch-count">
									<span class="icon-webs viewicon"></span>
									3.000.000 
								</li>
							</ul>
						</article>
					 </li>

					  <li>					 	
						<article class="video videoPlaylist" >
							<p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
								<a title="Weekend Buzz" rel="bookmark" href="#">			
								</a>
								<span class="playitems">
									<span class="icon-webs playicon"></span>								
								</span>	
								<button class="vf-followplbtn" title="Theo dõi playlist">
									<span class=" followpl-icon">
											<i class="fa fa-star-o" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
									</span> 	
									</button>														
							</p>
							<header class="meta">
								<h3 class="title">
									<a title="Weekend Buzz" rel="bookmark" href="#"> Weekend Buzz</a>
								</h3>												
							</header>
							<p class="desc-intro">Cựu tiền vệ HAGL vẫn như không tin khi được khoác chiếc áo của CLB danh tiếng Incheon United, Hàn Quốc.</p>
							<ul>
								<li title="Số video" class="videoTotal">
									<span class="arrow-right"></span>
									23
								</li>
								<li title="Lượt xem" class="watch-count">
									<span class="icon-webs viewicon"></span>
									3.000.000 
								</li>
							</ul>
						</article>
					 </li>

					  <li>					 	
						<article class="video videoPlaylist" >
							<p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
								<a title="Weekend Buzz" rel="bookmark" href="#">			
								</a>	
								<span class="playitems">
									<span class="icon-webs playicon"></span>							
								</span>		
								<button class="vf-followplbtn" title="Theo dõi playlist">
									<span class=" followpl-icon">
											<i class="fa fa-star-o" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
									</span> 	
									</button>												
							</p>
							<header class="meta">
								<h3 class="title">
									<a title="Weekend Buzz" rel="bookmark" href="#"> Weekend Buzz</a>
								</h3>												
							</header>
							<p class="desc-intro">Cựu tiền vệ HAGL vẫn như không tin khi được khoác chiếc áo của CLB danh tiếng Incheon United, Hàn Quốc.</p>
							<ul>
								<li title="Số video" class="videoTotal">
									<span class="arrow-right"></span>
									23
								</li>
								<li title="Lượt xem" class="watch-count">
									<span class="icon-webs viewicon"></span>
									3.000.000 
								</li>
							</ul>
						</article>
					 </li>

					  <li>					 	
						<article class="video videoPlaylist" >
							<p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
								<a title="Weekend Buzz" rel="bookmark" href="#">			
								</a>	
								<span class="playitems">
									<span class="icon-webs playicon"></span>								
								</span>	
								<button class="vf-followplbtn" title="Theo dõi playlist">
									<span class=" followpl-icon">
											<i class="fa fa-star-o" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
									</span> 	
									</button>													
							</p>
							<header class="meta">
								<h3 class="title">
									<a title="Weekend Buzz" rel="bookmark" href="#"> Weekend Buzz</a>
								</h3>												
							</header>
							<p class="desc-intro">Cựu tiền vệ HAGL vẫn như không tin khi được khoác chiếc áo của CLB danh tiếng Incheon United, Hàn Quốc.</p>
							<ul>
								<li title="Số video" class="videoTotal">
									<span class="arrow-right"></span>
									23
								</li>
								<li title="Lượt xem" class="watch-count">
									<span class="icon-webs viewicon"></span>
									3.000.000 
								</li>
							</ul>
						</article>
					 </li>

					  <li>					 	
						<article class="video videoPlaylist" >
							<p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
								<a title="Weekend Buzz" rel="bookmark" href="#">			
								</a>	
								<span class="playitems">
									<span class="icon-webs playicon"></span>								
								</span>		
								<button class="vf-followplbtn" title="Theo dõi playlist">
									<span class=" followpl-icon">
											<i class="fa fa-star-o" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
									</span> 	
									</button>												
							</p>
							<header class="meta">
								<h3 class="title">
									<a title="Weekend Buzz" rel="bookmark" href="#"> Weekend Buzz</a>
								</h3>												
							</header>
							<p class="desc-intro">Cựu tiền vệ HAGL vẫn như không tin khi được khoác chiếc áo của CLB danh tiếng Incheon United, Hàn Quốc.</p>
							<ul>
								<li title="Số video" class="videoTotal">
									<span class="arrow-right"></span>
									23
								</li>
								<li title="Lượt xem" class="watch-count">
									<span class="icon-webs viewicon"></span>
									3.000.000 
								</li>
							</ul>
						</article>
					 </li>

					  <li>					 	
						<article class="video videoPlaylist" >
							<p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
								<a title="Weekend Buzz" rel="bookmark" href="#">			
								</a>	
								<span class="playitems">
									<span class="icon-webs playicon"></span>								
								</span>		
								<button class="vf-followplbtn" title="Theo dõi playlist">
									<span class=" followpl-icon">
											<i class="fa fa-star-o" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
									</span> 	
									</button>												
							</p>
							<header class="meta">
								<h3 class="title">
									<a title="Weekend Buzz" rel="bookmark" href="#"> Weekend Buzz</a>
								</h3>												
							</header>
							<p class="desc-intro">Cựu tiền vệ HAGL vẫn như không tin khi được khoác chiếc áo của CLB danh tiếng Incheon United, Hàn Quốc.</p>
							<ul>
								<li title="Số video" class="videoTotal">
									<span class="arrow-right"></span>
									23
								</li>
								<li title="Lượt xem" class="watch-count">
									<span class="icon-webs viewicon"></span>
									3.000.000 
								</li>
							</ul>
						</article>
					 </li>
					</ul> 
				</div>
			</div><!-- section -->

			<div class="section vf-banner-advesting">
				<div class="vf-mediumbanner left">
					<a href="#">
						<span class="thumbnail" style="background-image: url(../assets/images/mdbanner.png)"></span> 
					</a> 
				</div>
				<div class="vf-mediumbanner right">
					<a href="#">
						<span class="thumbnail" style="background-image: url(../assets/images/mdbanner2.png)"></span> 
					</a> 
				</div>
			</div>

			<div class="section vf-channel-suggest">	
				<div class="vf-headersection">	
					<div class="namesection">
						<h2 class="title" title="Channel">
						Channel														
						</h2>	
						<p class="notpadms">Recommended channel for you</p>	
					</div>					
														
				</div>			
				<div class=" vf-list-channel">
					<ul class="channelsuggestslides">
						<li>
							<article class="vf-channel">
								<p style="background-image: url(../assets/images/thumb-larger.jpg)" class="thumbnail">
									<a href="#" rel="bookmark" title="Thách Thức Danh Hài Official">								
									</a>									
								</p>
								<header class="meta">
									<h3 class="title">
										<a href="#" rel="bookmark" title="Thách Thức Danh Hài Official"> Thách Thức Danh Hài Official</a>
										<span class="vf-confirm" title="Đã xác nhận">
										<i class="fa fa-check-square" aria-hidden="true"></i>
										</span>
									</h3>							
									<div class="followchannel">
										<div class="subscription-container">                                    
		                                    <button class="vf-subscription vf-mysubscription">
												<span class="vf-activity"> 
													<!-- <span class="iconFont vf-iconFladd">
														<span class="icon-webs fladdiconsm"></span>			
													</span> 
													<span class="iconFont vf-iconFldone">						 
														<span class="icon-webs doneiconsm"></span>					
													</span> 
													<span class="iconFont vf-iconFlclear">						
														<span class="icon-webs cleariconsm"></span>	
													</span>  -->

													<span class="iconFont vf-iconmyaccount">										
														<span class="icon-webs accounticonsm"></span>
													</span> 

													<!-- <span class="textFollow follow"> Theo dõi </span> -->
													<span class="textFollow following"> Đang theo dõi </span>
													<!-- <span class="textFollow disfollow"> Bỏ theo dõi </span> -->
												</span> 
											</button>
											<span class="total-subscription">99</span>
											<div class="wrapbox" style="display: block">
											 	<div class="arrow_box forgotLoginbox">
													<p class="title">Bạn chưa đăng nhập?</p>
													<p>Hãy đăng nhập để sử dụng chức năng này nhé.</p>
													<button class="btnLogin" > Đăng nhập</button>
												</div>
											 </div>									 
		                                </div>
									</div>	<!-- followchannel --> 											
								</header>
							</article>
						</li>
						<li>
							<article class="vf-channel">
								<p style="background-image: url(../assets/images/thumb-larger.jpg)" class="thumbnail">
									<a href="#" rel="bookmark" title="Thách Thức Danh Hài Official">								
									</a>

								</p>
								<header class="meta">
									<h3 class="title">
										<a href="#" rel="bookmark" title="Thách Thức Danh Hài Official"> Thách Thức Danh Hài Official</a>
										<span class="vf-confirm" title="Đã xác nhận">
									<i class="fa fa-check-square" aria-hidden="true"></i>
									</span>	
									</h3>							
									<div class="followchannel">
										<div class="subscription-container">                                    
		                                    <button class="vf-subscription vf-mysubscription">
												<span class="vf-activity"> 
													<!-- <span class="iconFont vf-iconFladd">
														<span class="icon-webs fladdiconsm"></span>			
													</span> 
													<span class="iconFont vf-iconFldone">						 
														<span class="icon-webs doneiconsm"></span>					
													</span> 
													<span class="iconFont vf-iconFlclear">						
														<span class="icon-webs cleariconsm"></span>	
													</span>  -->

													<span class="iconFont vf-iconmyaccount">										
														<span class="icon-webs accounticonsm"></span>
													</span> 

													<!-- <span class="textFollow follow"> Theo dõi </span> -->
													<span class="textFollow following"> Đang theo dõi </span>
													<!-- <span class="textFollow disfollow"> Bỏ theo dõi </span> -->
												</span> 
											</button>
											<span class="total-subscription">99</span>
											<div class="wrapbox" style="display: none">
											 	<div class="arrow_box forgotLoginbox">
													<p class="title">Bạn chưa đăng nhập?</p>
													<p>Hãy đăng nhập để sử dụng chức năng này nhé.</p>
													<button class="btnLogin" > Đăng nhập</button>
												</div>
											 </div>									 
		                                </div>
									</div>	<!-- followchannel --> 											
								</header>
							</article>
						</li>
						<li>
							<article class="vf-channel">
								<p style="background-image: url(../assets/images/thumb-larger.jpg)" class="thumbnail">
									<a href="#" rel="bookmark" title="Thách Thức Danh Hài Official">								
									</a>									
								</p>
								<header class="meta">
									<h3 class="title">
										<a href="#" rel="bookmark" title="Thách Thức Danh Hài Official"> Thách Thức Danh Hài Official</a>
										<span class="vf-confirm" title="Đã xác nhận">
									<i class="fa fa-check-square" aria-hidden="true"></i>
									</span>	
									</h3>							
									<div class="followchannel">
										<div class="subscription-container">                                    
		                                    <button class="vf-subscription vf-mysubscription">
												<span class="vf-activity"> 
													<!-- <span class="iconFont vf-iconFladd">
														<span class="icon-webs fladdiconsm"></span>			
													</span> 
													<span class="iconFont vf-iconFldone">						 
														<span class="icon-webs doneiconsm"></span>					
													</span> 
													<span class="iconFont vf-iconFlclear">						
														<span class="icon-webs cleariconsm"></span>	
													</span>  -->

													<span class="iconFont vf-iconmyaccount">										
														<span class="icon-webs accounticonsm"></span>
													</span> 

													<!-- <span class="textFollow follow"> Theo dõi </span> -->
													<span class="textFollow following"> Đang theo dõi </span>
													<!-- <span class="textFollow disfollow"> Bỏ theo dõi </span> -->
												</span> 
											</button>
											<span class="total-subscription">99</span>
											<div class="wrapbox" style="display: none">
											 	<div class="arrow_box forgotLoginbox">
													<p class="title">Bạn chưa đăng nhập?</p>
													<p>Hãy đăng nhập để sử dụng chức năng này nhé.</p>
													<button class="btnLogin" > Đăng nhập</button>
												</div>
											 </div>									 
		                                </div>
									</div>	<!-- followchannel --> 											
								</header>
							</article>
						</li>
						<li>
							<article class="vf-channel">
								<p style="background-image: url(../assets/images/thumb-larger.jpg)" class="thumbnail">
									<a href="#" rel="bookmark" title="Thách Thức Danh Hài Official">								
									</a>									
								</p>
								<header class="meta">
									<h3 class="title">
										<a href="#" rel="bookmark" title="Thách Thức Danh Hài Official"> Thách Thức Danh Hài Official</a>
										<span class="vf-confirm" title="Đã xác nhận">
									<i class="fa fa-check-square" aria-hidden="true"></i>
									</span>	
									</h3>							
									<div class="followchannel">
										<div class="subscription-container">                                    
		                                    <button class="vf-subscription vf-mysubscription">
												<span class="vf-activity"> 
													<!-- <span class="iconFont vf-iconFladd">
														<span class="icon-webs fladdiconsm"></span>			
													</span> 
													<span class="iconFont vf-iconFldone">						 
														<span class="icon-webs doneiconsm"></span>					
													</span> 
													<span class="iconFont vf-iconFlclear">						
														<span class="icon-webs cleariconsm"></span>	
													</span>  -->

													<span class="iconFont vf-iconmyaccount">										
														<span class="icon-webs accounticonsm"></span>
													</span> 

													<!-- <span class="textFollow follow"> Theo dõi </span> -->
													<span class="textFollow following"> Đang theo dõi </span>
													<!-- <span class="textFollow disfollow"> Bỏ theo dõi </span> -->
												</span> 
											</button>
											<span class="total-subscription">99</span>
											<div class="wrapbox" style="display: none">
											 	<div class="arrow_box forgotLoginbox">
													<p class="title">Bạn chưa đăng nhập?</p>
													<p>Hãy đăng nhập để sử dụng chức năng này nhé.</p>
													<button class="btnLogin" > Đăng nhập</button>
												</div>
											 </div>									 
		                                </div>
									</div>	<!-- followchannel --> 											
								</header>
							</article>
						</li>
						<li>
							<article class="vf-channel">
								<p style="background-image: url(../assets/images/thumb-larger.jpg)" class="thumbnail">
									<a href="#" rel="bookmark" title="Thách Thức Danh Hài Official">								
									</a>									
								</p>
								<header class="meta">
									<h3 class="title">
										<a href="#" rel="bookmark" title="Thách Thức Danh Hài Official"> Thách Thức Danh Hài Official</a>
										<span class="vf-confirm" title="Đã xác nhận">
									<i class="fa fa-check-square" aria-hidden="true"></i>
									</span>	
									</h3>							
									<div class="followchannel">
										<div class="subscription-container">                                    
		                                    <button class="vf-subscription vf-mysubscription">
												<span class="vf-activity"> 
													<!-- <span class="iconFont vf-iconFladd">
														<span class="icon-webs fladdiconsm"></span>			
													</span> 
													<span class="iconFont vf-iconFldone">						 
														<span class="icon-webs doneiconsm"></span>					
													</span> 
													<span class="iconFont vf-iconFlclear">						
														<span class="icon-webs cleariconsm"></span>	
													</span>  -->

													<span class="iconFont vf-iconmyaccount">										
														<span class="icon-webs accounticonsm"></span>
													</span> 

													<!-- <span class="textFollow follow"> Theo dõi </span> -->
													<span class="textFollow following"> Đang theo dõi </span>
													<!-- <span class="textFollow disfollow"> Bỏ theo dõi </span> -->
												</span> 
											</button>
											<span class="total-subscription">99</span>
											<div class="wrapbox" style="display: none">
											 	<div class="arrow_box forgotLoginbox">
													<p class="title">Bạn chưa đăng nhập?</p>
													<p>Hãy đăng nhập để sử dụng chức năng này nhé.</p>
													<button class="btnLogin" > Đăng nhập</button>
												</div>
											 </div>									 
		                                </div>
									</div>	<!-- followchannel --> 											
								</header>
							</article>
						</li>
						<li>
							<article class="vf-channel">
								<p style="background-image: url(../assets/images/thumb-larger.jpg)" class="thumbnail">
									<a href="#" rel="bookmark" title="Thách Thức Danh Hài Official">								
									</a>									
								</p>
								<header class="meta">
									<h3 class="title">
										<a href="#" rel="bookmark" title="Thách Thức Danh Hài Official"> Thách Thức Danh Hài Official</a>
									</h3>							
									<div class="followchannel">
										<div class="subscription-container">                                    
		                                    <button class="vf-subscription vf-mysubscription">
												<span class="vf-activity"> 
													<!-- <span class="iconFont vf-iconFladd">
														<span class="icon-webs fladdiconsm"></span>			
													</span> 
													<span class="iconFont vf-iconFldone">						 
														<span class="icon-webs doneiconsm"></span>					
													</span> 
													<span class="iconFont vf-iconFlclear">						
														<span class="icon-webs cleariconsm"></span>	
													</span>  -->

													<span class="iconFont vf-iconmyaccount">										
														<span class="icon-webs accounticonsm"></span>
													</span> 

													<!-- <span class="textFollow follow"> Theo dõi </span> -->
													<span class="textFollow following"> Đang theo dõi </span>
													<!-- <span class="textFollow disfollow"> Bỏ theo dõi </span> -->
												</span> 
											</button>
											<span class="total-subscription">99</span>
											<div class="wrapbox" style="display: none">
											 	<div class="arrow_box forgotLoginbox">
													<p class="title">Bạn chưa đăng nhập?</p>
													<p>Hãy đăng nhập để sử dụng chức năng này nhé.</p>
													<button class="btnLogin" > Đăng nhập</button>
												</div>
											 </div>									 
		                                </div>
									</div>	<!-- followchannel --> 											
								</header>
							</article>
						</li>
						<li>
							<article class="vf-channel">
								<p style="background-image: url(../assets/images/thumb-larger.jpg)" class="thumbnail">
									<a href="#" rel="bookmark" title="Thách Thức Danh Hài Official">								
									</a>									
								</p>
								<header class="meta">
									<h3 class="title">
										<a href="#" rel="bookmark" title="Thách Thức Danh Hài Official"> Thách Thức Danh Hài Official</a>
									</h3>							
									<div class="followchannel">
										<div class="subscription-container">                                    
		                                    <button class="vf-subscription vf-mysubscription">
												<span class="vf-activity"> 
													<!-- <span class="iconFont vf-iconFladd">
														<span class="icon-webs fladdiconsm"></span>			
													</span> 
													<span class="iconFont vf-iconFldone">						 
														<span class="icon-webs doneiconsm"></span>					
													</span> 
													<span class="iconFont vf-iconFlclear">						
														<span class="icon-webs cleariconsm"></span>	
													</span>  -->

													<span class="iconFont vf-iconmyaccount">										
														<span class="icon-webs accounticonsm"></span>
													</span> 

													<!-- <span class="textFollow follow"> Theo dõi </span> -->
													<span class="textFollow following"> Đang theo dõi </span>
													<!-- <span class="textFollow disfollow"> Bỏ theo dõi </span> -->
												</span> 
											</button>
											<span class="total-subscription">99</span>
											<div class="wrapbox" style="display: none">
											 	<div class="arrow_box forgotLoginbox">
													<p class="title">Bạn chưa đăng nhập?</p>
													<p>Hãy đăng nhập để sử dụng chức năng này nhé.</p>
													<button class="btnLogin" > Đăng nhập</button>
												</div>
											 </div>									 
		                                </div>
									</div>	<!-- followchannel --> 											
								</header>
							</article>
						</li>
					</ul>			
					
				</div>
			</div>	


			<div class="section vf-banner-advesting">
				<div class="vf-smallbanner left">
					<a href="#">
						<span class="thumbnail" style="background-image: url(../assets/images/smbanner.png)"></span> 
					</a> 
				</div>
				<div class="vf-smallbanner left">
					<a href="#">
						<span class="thumbnail" style="background-image: url(../assets/images/smbanner2.png)"></span> 
					</a> 
				</div>
				<div class="vf-smallbanner right">
					<a href="#">
						<span class="thumbnail" style="background-image: url(../assets/images/smbanner3.png)"></span> 
					</a> 
				</div>
			</div>

			<div class="section vf-videoofchannel">				
				<div class="vf-channel-shortinfo">
					<div class="vf-avatarandtitle">
						<a href="#" title="Cặp đôi hài hước">
							<span class="small-avatar" style="background-image: url(../assets/images/smallavatar.jpg)"></span>
							<h2 class="title" title="Cặp đôi hài hước">
								Cặp đôi hài hước
								<span class="vf-confirm" title="Đã xác nhận">
									<i class="fa fa-check-square" aria-hidden="true"></i>
									</span>	
							</h2>
						</a>
						<div class="followchannel">
							<div class="subscription-container">                                    
                                <button class="vf-subscription vf-mysubscription">
									<span class="vf-activity"> 
										<!-- <span class="iconFont vf-iconFladd">
											<span class="icon-webs fladdiconsm"></span>			
										</span> 
										<span class="iconFont vf-iconFldone">						 
											<span class="icon-webs doneiconsm"></span>					
										</span> 
										<span class="iconFont vf-iconFlclear">						
											<span class="icon-webs cleariconsm"></span>	
										</span>  -->

										<span class="iconFont vf-iconmyaccount">										
											<span class="icon-webs accounticonsm"></span>
										</span> 

										<!-- <span class="textFollow follow"> Theo dõi </span> -->
										<span class="textFollow following"> Đang theo dõi </span>
										<!-- <span class="textFollow disfollow"> Bỏ theo dõi </span> -->
									</span> 
								</button>
								<span class="total-subscription">99</span>
								<div class="wrapbox" style="display: none">
								 	<div class="arrow_box forgotLoginbox">
										<p class="title">Bạn chưa đăng nhập?</p>
										<p>Hãy đăng nhập để sử dụng chức năng này nhé.</p>
										<button class="btnLogin" > Đăng nhập</button>
									</div>
								 </div>									 
                            </div>
						</div>	<!-- followchannel --> 
					</div>

				</div>	
				<div class="listvideo">
					<ul class="slidesshow">
						<li>
							<article class="video" >
								<p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
									<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#">											
									</a>
									<span class="duration">17:30</span>
									
								</p>
								<header class="meta">
									<h3 class="title">
										<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#"> Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015 </a>
									</h3>	
									<p class="uploader">
										<a title="videofly" href="#">Video fly</a>
									</p>
									<ul>
										<li class="watch-count">
											3K lượt xem
										</li>
										<li class="datetime">
											3 ngày trước
										</li>
									</ul>						
								</header>
							</article>
						</li>

						<li>
							<article class="video" >
								<p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
									<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#">											
									</a>
									<span class="duration">17:30</span>
									
								</p>
								<header class="meta">
									<h3 class="title">
										<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#"> Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015 </a>
									</h3>	
									<p class="uploader">
										<a title="videofly" href="#">Video fly</a>
									</p>
									<ul>
										<li class="watch-count">
											3K lượt xem
										</li>
										<li class="datetime">
											3 ngày trước
										</li>
									</ul>						
								</header>
							</article>
						</li>

						<li>
							<article class="video" >
								<p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
									<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#">											
									</a>
									<span class="duration">17:30</span>
									
								</p>
								<header class="meta">
									<h3 class="title">
										<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#"> Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015 </a>
									</h3>	
									<p class="uploader">
										<a title="videofly" href="#">Video fly</a>
									</p>
									<ul>
										<li class="watch-count">
											3K lượt xem
										</li>
										<li class="datetime">
											3 ngày trước
										</li>
									</ul>						
								</header>
							</article>
						</li>

						<li>
							<article class="video" >
								<p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
									<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#">											
									</a>
									<span class="duration">17:30</span>
									
								</p>
								<header class="meta">
									<h3 class="title">
										<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#"> Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015 </a>
									</h3>	
									<p class="uploader">
										<a title="videofly" href="#">Video fly</a>
									</p>
									<ul>
										<li class="watch-count">
											3K lượt xem
										</li>
										<li class="datetime">
											3 ngày trước
										</li>
									</ul>						
								</header>
							</article>
						</li>

						<li>
							<article class="video" >
								<p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
									<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#">											
									</a>
									<span class="duration">17:30</span>
									
								</p>
								<header class="meta">
									<h3 class="title">
										<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#"> Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015 </a>
									</h3>	
									<p class="uploader">
										<a title="videofly" href="#">Video fly</a>
									</p>
									<ul>
										<li class="watch-count">
											3K lượt xem
										</li>
										<li class="datetime">
											3 ngày trước
										</li>
									</ul>						
								</header>
							</article>
						</li>

						<li>
							<article class="video" >
								<p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
									<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#">											
									</a>
									<span class="duration">17:30</span>
									
								</p>
								<header class="meta">
									<h3 class="title">
										<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#"> Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015 </a>
									</h3>	
									<p class="uploader">
										<a title="videofly" href="#">Video fly</a>
									</p>
									<ul>
										<li class="watch-count">
											3K lượt xem
										</li>
										<li class="datetime">
											3 ngày trước
										</li>
									</ul>						
								</header>
							</article>
						</li>

						<li>
							<article class="video" >
								<p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
									<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#">											
									</a>
									<span class="duration">17:30</span>
									
								</p>
								<header class="meta">
									<h3 class="title">
										<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#"> Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015 </a>
									</h3>	
									<p class="uploader">
										<a title="videofly" href="#">Video fly</a>
									</p>
									<ul>
										<li class="watch-count">
											3K lượt xem
										</li>
										<li class="datetime">
											3 ngày trước
										</li>
									</ul>						
								</header>
							</article>
						</li>

						<li>
							<article class="video" >
								<p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
									<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#">											
									</a>
									<span class="duration">17:30</span>
									
								</p>
								<header class="meta">
									<h3 class="title">
										<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#"> Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015 </a>
									</h3>	
									<p class="uploader">
										<a title="videofly" href="#">Video fly</a>
									</p>
									<ul>
										<li class="watch-count">
											3K lượt xem
										</li>
										<li class="datetime">
											3 ngày trước
										</li>
									</ul>						
								</header>
							</article>
						</li>

						
					</ul>
				</div>				
			</div>

			<div class="section vf-videoofchannel">				
				<div class="vf-channel-shortinfo">
					<div class="vf-avatarandtitle">
						<a href="#" title="Cặp đôi hài hước">
							<span class="small-avatar" style="background-image: url(../assets/images/smallavatar.jpg)"></span>
							<h2 class="title" title="Giọng ải giọng ai">
								Giọng ải giọng ai
							</h2>
						</a>
						<div class="followchannel">
							<div class="subscription-container">                                    
                                <button class="vf-subscription vf-mysubscription">
									<span class="vf-activity"> 
										<!-- <span class="iconFont vf-iconFladd">
											<span class="icon-webs fladdiconsm"></span>			
										</span> 
										<span class="iconFont vf-iconFldone">						 
											<span class="icon-webs doneiconsm"></span>					
										</span> 
										<span class="iconFont vf-iconFlclear">						
											<span class="icon-webs cleariconsm"></span>	
										</span>  -->

										<span class="iconFont vf-iconmyaccount">										
											<span class="icon-webs accounticonsm"></span>
										</span> 

										<!-- <span class="textFollow follow"> Theo dõi </span> -->
										<span class="textFollow following"> Đang theo dõi </span>
										<!-- <span class="textFollow disfollow"> Bỏ theo dõi </span> -->
									</span> 
								</button>
								<span class="total-subscription">99</span>
								<div class="wrapbox" style="display: none">
								 	<div class="arrow_box forgotLoginbox">
										<p class="title">Bạn chưa đăng nhập?</p>
										<p>Hãy đăng nhập để sử dụng chức năng này nhé.</p>
										<button class="btnLogin" > Đăng nhập</button>
									</div>
								 </div>									 
                            </div>
						</div>	<!-- followchannel --> 
					</div>

				</div>	
				<div class="listvideo">
					<ul class="slidesshow">
						<li>
							<article class="video" >
								<p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
									<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#">											
									</a>
									<span class="duration">17:30</span>
									
								</p>
								<header class="meta">
									<h3 class="title">
										<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#"> Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015 </a>
									</h3>	
									<p class="uploader">
										<a title="videofly" href="#">Video fly</a>
									</p>
									<ul>
										<li class="watch-count">
											3K lượt xem
										</li>
										<li class="datetime">
											3 ngày trước
										</li>
									</ul>						
								</header>
							</article>
						</li>

						<li>
							<article class="video" >
								<p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
									<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#">											
									</a>
									<span class="duration">17:30</span>
									
								</p>
								<header class="meta">
									<h3 class="title">
										<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#"> Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015 </a>
									</h3>	
									<p class="uploader">
										<a title="videofly" href="#">Video fly</a>
									</p>
									<ul>
										<li class="watch-count">
											3K lượt xem
										</li>
										<li class="datetime">
											3 ngày trước
										</li>
									</ul>						
								</header>
							</article>
						</li>

						<li>
							<article class="video" >
								<p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
									<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#">											
									</a>
									<span class="duration">17:30</span>
									
								</p>
								<header class="meta">
									<h3 class="title">
										<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#"> Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015 </a>
									</h3>	
									<p class="uploader">
										<a title="videofly" href="#">Video fly</a>
									</p>
									<ul>
										<li class="watch-count">
											3K lượt xem
										</li>
										<li class="datetime">
											3 ngày trước
										</li>
									</ul>						
								</header>
							</article>
						</li>

						<li>
							<article class="video" >
								<p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
									<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#">											
									</a>
									<span class="duration">17:30</span>
									
								</p>
								<header class="meta">
									<h3 class="title">
										<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#"> Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015 </a>
									</h3>	
									<p class="uploader">
										<a title="videofly" href="#">Video fly</a>
									</p>
									<ul>
										<li class="watch-count">
											3K lượt xem
										</li>
										<li class="datetime">
											3 ngày trước
										</li>
									</ul>						
								</header>
							</article>
						</li>

						<li>
							<article class="video" >
								<p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
									<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#">											
									</a>
									<span class="duration">17:30</span>
									
								</p>
								<header class="meta">
									<h3 class="title">
										<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#"> Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015 </a>
									</h3>	
									<p class="uploader">
										<a title="videofly" href="#">Video fly</a>
									</p>
									<ul>
										<li class="watch-count">
											3K lượt xem
										</li>
										<li class="datetime">
											3 ngày trước
										</li>
									</ul>						
								</header>
							</article>
						</li>

						<li>
							<article class="video" >
								<p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
									<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#">											
									</a>
									<span class="duration">17:30</span>
									
								</p>
								<header class="meta">
									<h3 class="title">
										<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#"> Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015 </a>
									</h3>	
									<p class="uploader">
										<a title="videofly" href="#">Video fly</a>
									</p>
									<ul>
										<li class="watch-count">
											3K lượt xem
										</li>
										<li class="datetime">
											3 ngày trước
										</li>
									</ul>						
								</header>
							</article>
						</li>

						<li>
							<article class="video" >
								<p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
									<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#">											
									</a>
									<span class="duration">17:30</span>
									
								</p>
								<header class="meta">
									<h3 class="title">
										<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#"> Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015 </a>
									</h3>	
									<p class="uploader">
										<a title="videofly" href="#">Video fly</a>
									</p>
									<ul>
										<li class="watch-count">
											3K lượt xem
										</li>
										<li class="datetime">
											3 ngày trước
										</li>
									</ul>						
								</header>
							</article>
						</li>

						<li>
							<article class="video" >
								<p class="thumbnail" style="background-image: url(../assets/images/thumb-larger.jpg)">
									<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#">											
									</a>
									<span class="duration">17:30</span>
									
								</p>
								<header class="meta">
									<h3 class="title">
										<a title="Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015" rel="bookmark" href="#"> Vợ chồng Bầu Long mất gần 1.200 tỷ đồng trên sàn chứng khoán năm 2015 </a>
									</h3>	
									<p class="uploader">
										<a title="videofly" href="#">Video fly</a>
									</p>
									<ul>
										<li class="watch-count">
											3K lượt xem
										</li>
										<li class="datetime">
											3 ngày trước
										</li>
									</ul>						
								</header>
							</article>
						</li>

						
					</ul>
				</div>				
			</div>

	
		</div> <!-- container -->
	</div> <!-- community-page -->