<div class="full-width internalPage  vf-genreBirthdayArtists-page ">
    <app-bannergenre></app-bannergenre>

    <div class="container">
        <div class="wrap-section wrap-artist wrap-allartists">            
            <div class="wrap-topsidebar">
              <div class="container">
                <ul class="wrap">
                  <li>Happy Birthday Month Artists</li>
                </ul>
    
                <div class="sapxep">
                  <div class="wrap-selecttag">
                    <select>                        
                      <option value="#" selected>Sắp xếp theo tên</option>
                      <option value="#" >Sắp xếp theo thời gian (mới nhất)</option>
                      <option value="#" >Sắp xếp theo lượt xem</option>
                    </select>
                  </div>
                </div>
                <div class="clear"></div>
              </div>			
            </div>	
            <div class="listartist artist-section birthartists-section">
                <div class="wrap-listitems">
                    <app-artistitem></app-artistitem>
                    <app-artistitem></app-artistitem>
                    <app-artistitem></app-artistitem>
                    <app-artistitem></app-artistitem>
                    <app-artistitem></app-artistitem>
                    <app-artistitem></app-artistitem>
                    <app-artistitem></app-artistitem>
                    <app-artistitem></app-artistitem>
                    <app-artistitem></app-artistitem>
                    <app-artistitem></app-artistitem>
                </div>

            </div>
        </div>
      </div>

</div>